html *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 100%;

    margin: 0;
    padding: 0;

    color: #3d3536;
    background-color: white;
}
body::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
body::-webkit-scrollbar-track{
    background: rgba(97,73,3,.2);
}
body::-webkit-scrollbar-thumb{
    background: #000;
}
a{
    outline: none;
}
body,
html{
    height: 100%;
}
::selection{
    color: #930;
    background: #fff600;
    text-shadow: none;
}
/* megamenu begin */
.megamenu {
    background-color: #fff;
    padding: 0; margin: 0;
    width: 100%;
    overflow: hidden;
    z-index: 16;
    box-shadow: 0px 2px 6px -2px rgba(164,164,164,0.6);
}
.megamenu[data-expand-state='false'] .megamenu__grd--cards,
.megamenu[data-expand-state='true']  .megamenu__grd--bottom, 
.megamenu[data-expand-state='true']  .mm__vect--open,
.megamenu[data-expand-state='false'] .mm__vect--close { display: none;}
.megamenu[data-expand-state='false'] .mm__vect--open,
.megamenu[data-expand-state='true']  .mm__vect--close { display: inline;}
.megamenu[data-expand-state='true']  .megamenu__grd--top { box-shadow: none !important;}



.megamenu .megamenu__grd--top {
    position: fixed; top: 0;
    background-color: #fff;
    height: 56px; width: 100%;

    display: grid;
    grid-area: box-content;
    align-content: center;
    grid-gap: 4px;
  
    grid-template-columns: 52px 1fr 96px;
  
    box-sizing: border-box;
    box-shadow: 0px 2px 6px -2px rgba(164,164,164,0.6);
}
.megamenu .mm__vect{
    cursor: pointer;
    height: 24px; width: 24px;
}
.megamenu .megamenu__grd--top > * {
    text-align: center;
    overflow: hidden;
}
.megamenu .megamenu__grd--cards {
    background-color: #fff;
    position: fixed; top: 55px;
    width: 100%;
    box-shadow: 0px 2px 6px -2px rgba(164,164,164,0.6);
}
.megamenu .megamenu__grd--bottom {
    text-align: center;
    margin: 56px 0 0 0;

    display: none;
    grid-area: box-content;
    align-content: center;
  
    grid-template-columns: repeat(5, 1fr);
  
    box-sizing: border-box;
}

.megamenu .megamenu__grd--bottom BUTTON {
    cursor: pointer;
    padding: 12px 10px 8px 10px;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -.008em;
}
.megamenu .megamenu__grd--bottom BUTTON:hover {
    color: #fff;
    background-color: #000;
}
.megamenu a:link, .megamenu a:visited, .megamenu a:hover, .megamenu a:focus, .megamenu a:active
{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 24px;
}
/* megamenu end */
a.skip__main
{
    position: absolute;
    z-index: -999;
    top: auto;
    left: -999px;

    overflow: hidden;

    width: 1px;
    height: 1px;
}
a.skip__main:focus,
a.skip__main:active
{
    font-size: 1.2em;

    z-index: 999;
    top: auto;
    left: auto;

    overflow: auto;

    width: 20%;
    height: auto;
    margin: 10px 40%;
    padding: 5px;

    text-align: center;

    color: #fff;
    border: 2px solid #edba08;
    border-radius: 8px;
    background-color: #444;
}

.c2a
{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 19px;
    line-height: 1.4;

    display: block;

    width: 88%;
    margin: 6px auto;
    padding: 8px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 6px;
    background: linear-gradient(311deg, #892300 6%, #a94300 12%, #892300 24%);
}
.c2a:hover
{
    background: linear-gradient(#b95300, #791300);
    box-shadow: 0 0 8px #c2baa2;
}

@media only screen and (min-width:48.1em) and (max-width:62em){/* med */
    .megamenu .megamenu__grd--bottom {
        display: grid;
    }
}
@media only screen and (min-width:62.1em){/* lg */
    .megamenu .megamenu__grd--bottom {
        display: grid;
    }
}
    