---
title: "Curated Links Vue.js"
date: 2021-07-24T19:06:14-05:00
draft: false
summary: "Indispensable Curated Vue Links"
description: In-depth and indispensable curated Vue.js links
slug: curated-vue-links
categories:
- Links
- Vue
tags:
- Links
- Curated
- Tutorials
- Vue
---

<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

<section class="pfmf-grid pfmf-grid__100 readable__doc">
    <div>
        <article style="padding: 12px 12px;">
            <h3 class="document__title h_ital h-center text-coy_2017">The Progressive JavaScript Framework</h3>
            <p>Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects.</p>
            <div class="h-center">
                <button class="l-btn h-center" data-n55-sodapop-id="sp_sample_vue" data-n55-wired4sound-click="5"
                data-n55-toast="##Vue.js Double-Tap Logic">For Example ...</button>
            </div>
            <details>
                <summary data-n55-wired4sound-click="4" class="h-pro-tip text-coy_2009">Vue Expertise</summary>
                <p>Since 2014, I've implemented the best coding practices that reduce complexity and take advantage of the flexibility of the Vue.js ecosystem.</p>
                <p>I am adept at using a wide range of modern Vue tools to build mission-critical applications. This includes understanding how to properly use the Vue CLI, Vue Router, Vuex, Vuetify, Quasar, and Vue DevTools to maximize code reusability, easily expand application functionality, and standardize UI style across the organization.</p>
            </details>
        </article>
    </div>
</section>

<div class="vvs-cont">
    <p class="js-vect__banner readable__caption h-center l-capt__vect"
    data-at-vivid="Curated" data-at-rnd-gt="0" data-at-change="data-at-vivid" data-at="Links">
    </p>
</div>
<section class="pfmf-grid pfmf-grid__100 readable__doc">
    <div>
        <article class="js-sec__fav l-favs" style="padding: 12px 12px;">
        </article>        
    </div>
</section>

<div class="h-center">
    <button class="l-btn l-btn--ghost" data-n55-wired4sound-click="6" onClick="clickRandom('.h-link')"
    data-n55-toast="##Im feeling lucky|Visit a Random link">Open Random 🎲</button>
</div>

<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/2674_RC03/embed_loader.js"></script>
<script>
    fetch("/weaponeered_poetry.json")
        .then(response => response.json()) // Get links
        .then((aFavs) => {
            let showFavs = ( ( _d, _sQ, sInc, sExc )=>{
                let elFavs = _d.querySelector( _sQ[0] )
                let elVect = _d.querySelector( _sQ[1] )
                let aAllTags = []
                let nCnt =0
                if( elFavs && aFavs ){
                    aFavs = aFavs.sort((a, b)=>{
                        let nWeight = 0;
                        nWeight =  ((a.cat+a.name) > (b.cat+b.name)) ? 1 : -1
                        if( a.tags.join("|").indexOf("1st") > -1 ) nWeight=nWeight-1.1
                        return nWeight;
                    })
                    aFavs.forEach((fav)=>{
                        if( fav.cat !== sExc){
                            if( fav.tags.find( cell => cell.toLowerCase() === sInc )){
                                let sTags = "";
                                nCnt++;
                                if( fav.uri.toLowerCase().indexOf("youtu") !== -1 ) fav.tags.push("video");
                                if( fav.uri.toLowerCase().indexOf(".pdf") !== -1 ) fav.tags.push("pdf"); if( fav.uri.toLowerCase().indexOf("npmjs") !== -1 ) fav.tags.push("npm");
                                if( fav.uri.toLowerCase().indexOf("github") !== -1 ) fav.tags.push("git"); if( fav.uri.toLowerCase().indexOf("codepen") !== -1 ) fav.tags.push("codepen");
                                fav.tags = [ ... new Set( fav.tags.sort((a, b) => ((a.toLowerCase()) > (b.toLowerCase())) ? 1 : -1) )] 
                                fav.tags.forEach(( tag )=>{
                                    if(tag !== "1st"){
                                        tag = tag.toLowerCase();
                                        aAllTags.push( tag )
                                        if( tag ) sTags += `<span data-n55-wired4sound-click="10" class="fav-tag--${ tag }">${ tag }</span>`;                                        
                                    }
                                });
                                let sMU = `
                                <article data-pfmf-tag-filter="true">
                                    <div class="fav-cat--${fav.cat}"><p class="fav-cat">${fav.cat}</p><p><a class="h-link" target="_blank" rel="noopener" href="${fav.uri}">${fav.name}</a></p></div>
                                    <div><p class="fav__tag">${sTags}</p></div>
                                    <div class="fav__comment"><p>${(fav.comment) ? fav.comment : fav.name}</p></div>
                                </article>
                                `;
                                elFavs.innerHTML = elFavs.innerHTML + sMU;
                            }
                        }
                    });
                    setTimeout(function(){
                        if(typeof neodigmToast !== "undefined") neodigmToast.q( nCnt + " " + sInc.toLocaleUpperCase() + "|Curated Links")
                    }, 2800)
                    elVect.dataset.at = [ ... new Set(aAllTags)].join("|")
                }
            })( document, [".js-sec__fav", ".js-vect__banner"], "vue", "a55");
        });

</script>

<section class="eIF__js pfmf-grid pfmf-grid__100 readable__doc h-ds__none">
    <div>
        <article class="l-favs" style="padding: 12px 12px;"></article>        
    </div>
</section>

<script type="text/javascript">
    const eIFCont = document.querySelector(".eIF__js")  //  Google Trends
    if( eIFCont ){
        const eIF = eIFCont.querySelector("article")
        setTimeout(function(){
            if( eIF && trends?.embed ){
                eIFCont.classList.remove("h-ds__none")
                trends.embed.renderExploreWidgetTo(eIF, "TIMESERIES", {"comparisonItem":[{"keyword":"vuejs","geo":"US","time":"today 12-m"},{"keyword":"sveltejs","geo":"US","time":"today 12-m"},{"keyword":"reactjs","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=vuejs,sveltejs,reactjs&date=today 12-m,today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"} )
            }
        }, 3800)
    }
</script>

<script>
let exampleVue = {}
sp_vue_hybrid_data_viz = function(){  //  neodigm 55 onOpen Callback naming convention
    exampleVue = new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: () => ({
            goals: [  //  Assumptions: Goal Metric is unique. Threshold is the goal expressed in per cent or abs.
            {"metric": "RINVOQ Market Share",       "currentAchieved": "7",  "thresholdType": "Percentage",              "thresholdValue": "9"},
            {"metric": "SKYRIZI Market Share",      "currentAchieved": "44", "thresholdType": "Percentage",              "thresholdValue": "49"},
            {"metric": "ISA Utilization",           "currentAchieved": "80", "thresholdType": "Percentage",              "thresholdValue": "68"},
            {"metric": "Call Plan Achievement",     "currentAchieved": "55", "thresholdType": "Percentage",              "thresholdValue": "76"},
            {"metric": "Priority Target Reach",     "currentAchieved": "72", "thresholdType": "Percentage",              "thresholdValue": "86"},
            {"metric": "Priority Target Frequency", "currentAchieved": "6",  "thresholdType": "Number, 1 decimal place", "thresholdValue": "9"},
            {"metric": "Priority Target Email",     "currentAchieved": "19", "thresholdType": "Whole Number",            "thresholdValue": "300"},
            {"metric": "SUMMIT Ranking",            "currentAchieved": "9",  "thresholdType": "Top Half of Rank Group",  "thresholdValue": "6"} 
            ],
            tmpGoals: "",
        }),
        mounted(){
            this.tmpGoals = JSON.stringify( this.goals )
        },
        methods: {
            renderAbsolute( _g ){
                if( _g.thresholdType == "Percentage" ){
                    return [_g.currentAchieved, _g.thresholdValue, _g.currentAchieved];
                }else{
                    if( _g.currentAchieved >= _g.thresholdValue ){  //  Goal Acheived
                        return [100, Math.round((_g.thresholdValue / _g.currentAchieved) * 100), _g.currentAchieved];
                    }else{
                        return [Math.round((_g.currentAchieved / _g.thresholdValue) * 100), 100, _g.currentAchieved];
                    }
                }
            }
        }
    })
}
</script>
<style>
.l-hbr-grd {
    display: grid;
    grid-template-columns: 148px 1fr;
    gap: 0px 0px;
    width: 99%;
    padding: 0;
}
.l-hbr-grd > aside {
    position: relative;
    border-width: 0; border-right: solid 1px #aaa;
    text-align: right;
    padding: 2px 1px 12px 2px;
}
.l-hbr-grd > aside > p {
    color: #2d2926;
    font-family: 'Lato', sans-serif;
    margin: 2px; padding: 2px;
    line-height: .98;
    white-space: nowrap;
    overflow: hidden;
}
.l-hbr-grd > aside > p:nth-of-type(1) { font-size: 12px; }
.l-hbr-grd > aside > p:nth-of-type(2) { font-size: 11px; }
.l-hbr-grd > output { margin-left: 6px; }
.l-hbr-grd .inline__text {
    color: #2d2926;
    font-family: 'Lato', sans-serif; font-size: 12px;
    margin: 2px; padding: 2px;
    line-height: .98;
    white-space: nowrap;
    overflow: hidden;
}
.l-hbr-grd .goal-line {
    position: relative; top: -28px;
    display: block;
    border: 0;
    border-right: solid 4px #aaa;
    width: 0; height: 32px;
    z-index: 64;
}
</style>

<style>
/* vuetify overrides */
.v-application--wrap {
    min-height: fit-content;
}
.txta-json {
    display: block;
    width: 82%;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    border: solid 1px #2d2926;
    border-radius: 16px;
    margin: 8px auto;
    background-color: #fff;
}
</style>

<template id="sp_sample_vue" data-n55-sodapop-modal="false" 
data-n55-sodapop-size="medium">

<article class="pfmf-crd--black h-center"
style="background-color: #383838; padding: 12px 0 0 0;">
    <neodigm-marquee
    data-n55-marquee-text="  This is part of a larger Vue gesture implementation supporting Pinch, Zoom, Pan, and Swipe. A Vue.js snippet that shows how to capture both a tap and a double-tap on the same element within the template. Vuejs Provide Inject Reactive Component Communication. Hydrate the Vuetify Pagination object to persist. "
    data-n55-marquee-size="small">
        <pre></pre>
    </neodigm-marquee>
    <p class="readable__doc readable__doc--white"
    data-at=""></p></article>
<output id="js-copy__css">
{{< highlight JavaScript >}}
//  Canonical Use Case: Double-Tap to zoom into a hero image
//  and single-tap to zoom out.

   /*    ____   ____                      __        
    *    \   \ /   /_ __   ____          |__| ______
    *     \   Y   /  |  \_/ __ \         |  |/  ___/
    *      \     /|  |  /\  ___/         |  |\___ \ 
    *       \___/ |____/  \___  > /\ /\__|  /____  >
    *                         \/  \/ \______|    \/ */

    methods: {
    "doHeroMobMouseUp": function( ev ){ // Double Tap
        var oHro = this.oHeroZmMob;
        if( oHro.isInit ){
        if( oHro.doubleTap ){ // Zoom In
            oHro.doubleTap = false;
            this.doHeroMobScale( .5 ); // Double Tap
        }else{
            oHro.doubleTap = true;
            setTimeout(function(){ this.doHeroMobMouseUp_expire() }, 380);
        }
        }
        this.oHeroZmMob.isDown = false;
    },
    "doHeroMobMouseUp_expire": function(){ // Single Tap
        var oHro = this.oHeroZmMob;
        if( oHro.isInit ){ // Zoom Out
        if( oHro.doubleTap ) this.doHeroMobScale( -.5 ); // Single Tap
        oHro.doubleTap = false;
        } 
    }
    }
{{< /highlight >}}
<hr>
{{< highlight JavaScript >}}
//  Vuejs Provide Inject Reactive Component Communication
//. Parent Component
provide() {
    return {
      cyRef: this.cytoRef,
      obsId: this.obsId,
      hostname: () => this.reactiveHostname
    }
  }

//. Child Component
inject: ['cyRef', 'hostname'],
    
//  Add computed - 
compCyRef(){
    return this.cyRef()
}
{{< /highlight >}}
<hr>
{{< highlight JavaScript >}}
  watch: {
      //. Hydrate the Vuetify Pagination object to persist
      //  the Sort colunm and Number of Pages.
    pagination(val) {
      const lsKey = this?.$route?.path || 'lsKey'
      localStorage.setItem(lsKey, JSON.stringify(val, null))
    }
  },
  mounted() {
    const lsKey = this?.$route?.path || 'lsKey'
    if (localStorage.getItem(lsKey)) {
      this.pagination = JSON.parse(localStorage.getItem(lsKey))
    }
  },
  {{< /highlight >}}
        <span class="h-ds__none"
        data-at="Vue.js Double-Tap Logic|Process both Tap and Double-Tap|Vue.js Methods"></span>
        </output>
    <div class="h-center">
        <button class="js-copy-btn l-btn l-btn--ghost" onclick="doCopyClass('#js-copy__css')" data-n55-wired4sound-click="10">Copy</button>
    </div>
</template>

<template id="sp_vue_hybrid_data_viz" data-n55-sodapop-modal="false"
data-n55-sodapop-size="large">
<h4 class="h-center readable__caption">The Hybrid Graph Vue/Vuetify Component</h4>
    <section class="readable__doc" style="border-top: solid #EDBA08 1px;">
        <article id="app" style="padding: 12px 12px;">
            <p>The hybrid graph component displays a horizontal bar chart of both percentages and absolute values with a goal adornment. The goal adornment is a superimposed gray vertical line positioned on the X axis depicting the goal value.</p>

                <section class="pfmf-grid pfmf-grid__100 readable__doc">
                    <div style="display: contents;">
                        <article style="padding: 12px 12px;border-width: 0;">
                            <div>
                                <v-app>
                                  <section class="l-hbr-grd" v-for="goal in goals" :key="goal.metric">
                                    <aside>
                                        <p>{{ goal.metric }}</p>
                                        <p>Goal: {{ goal.thresholdValue }}<span v-if="goal.thresholdType == 'Percentage'">%</span></p>
                                    </aside>
                                    <output>
                                        <v-progress-linear
                                            :value="renderAbsolute( goal )[0]"
                                            background-color="#dae4ef"
                                            color="#1ac9a8" height="24"
                                        >
                                        <template>
                                            <span class="inline__text">{{ Math.ceil(renderAbsolute( goal )[2]) }}<span v-if="goal.thresholdType == 'Percentage'">%</span>
                                            </span>
                                        </template>
                                        </v-progress-linear>
                                        <div class="goal-line" :style="{ width: renderAbsolute( goal )[1] + '%' }">
                                        </div>
                                    </output>
                                  </section>
                               </v-app>
                              </div>
                        </article>
                    </div>
                </section>
                <details>
                    <summary data-n55-wired4sound-click="4" class="h-pro-tip text-coy_2009">Try it ⚡</summary>
                    <textarea class="txta-json"rows=8 v-model="tmpGoals"></textarea>
                    <div class="h-center">
                        <button class="l-btn h-center" @click="goals =  JSON.parse( tmpGoals )" data-n55-wired4sound-click="5">Update Component</button>
                    </div>
                </details>
                <br>
                <details id="js-vue_hybrid_data_viz">
                    <summary data-n55-wired4sound-click="4" class="h-pro-tip text-coy_2009">Source Code 👁️</summary>
<h4 class="document__title h_ital h-center text-coy_2020">Template Vue SFC</h4>
{{< highlight html >}}
<section class="l-hbr-grd" v-for="goal in goals" :key="goal.metric">
    <aside>
        <p>{ { goal.metric } }</p>
        <p>Goal: { { goal.thresholdValue } }<span v-if="goal.thresholdType == 'Percentage'">%</span></p>
    </aside>
    <output>
        <v-progress-linear
            :value="renderAbsolute( goal )[0]"
            background-color="#dae4ef"
            color="#1ac9a8" height="24"
        >
        <template>
            <span class="inline__text">{ { Math.ceil(renderAbsolute( goal )[2]) } }<span v-if="goal.thresholdType == 'Percentage'">%</span>
            </span>
        </template>
        </v-progress-linear>
        <div class="goal-line" :style="{ width: renderAbsolute( goal )[1] + '%' }">
        </div>
    </output>
  </section>

{{< /highlight >}}
<h4 class="document__title h_ital h-center text-coy_2020">JavaScript Vue SFC</h4>
{{< highlight javascript >}}
exampleVue = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: () => ({
        goals: [  //  Assumptions: Goal Metric is unique. Threshold is the goal expressed in per cent or abs.
        {"metric": "RINVOQ Market Share",       "currentAchieved": "7",  "thresholdType": "Percentage",              "thresholdValue": "9"},
        {"metric": "SKYRIZI Market Share",      "currentAchieved": "44", "thresholdType": "Percentage",              "thresholdValue": "49"},
        {"metric": "ISA Utilization",           "currentAchieved": "80", "thresholdType": "Percentage",              "thresholdValue": "68"},
        {"metric": "Call Plan Achievement",     "currentAchieved": "55", "thresholdType": "Percentage",              "thresholdValue": "76"},
        {"metric": "Priority Target Reach",     "currentAchieved": "72", "thresholdType": "Percentage",              "thresholdValue": "86"},
        {"metric": "Priority Target Frequency", "currentAchieved": "6",  "thresholdType": "Number, 1 decimal place", "thresholdValue": "9"},
        {"metric": "Priority Target Email",     "currentAchieved": "19", "thresholdType": "Whole Number",            "thresholdValue": "300"},
        {"metric": "SUMMIT Ranking",            "currentAchieved": "9",  "thresholdType": "Top Half of Rank Group",  "thresholdValue": "6"} 
        ],
        tmpGoals: "",
    }),
    mounted(){
        this.tmpGoals = JSON.stringify( this.goals )
    },
    methods: {
        renderAbsolute( _g ){
            if( _g.thresholdType == "Percentage" ){
                return [_g.currentAchieved, _g.thresholdValue, _g.currentAchieved];
            }else{
                if( _g.currentAchieved >= _g.thresholdValue ){  //  Goal Acheived
                    return [100, Math.round((_g.thresholdValue / _g.currentAchieved) * 100), _g.currentAchieved];
                }else{
                    return [Math.round((_g.currentAchieved / _g.thresholdValue) * 100), 100, _g.currentAchieved];
                }
            }
        }
    }
})
{{< /highlight >}}
<h4 class="document__title h_ital h-center text-coy_2020">CSS Vue SFC</h4>
{{< highlight css >}}
.l-hbr-grd {
    display: grid;
    grid-template-columns: 148px 1fr;
    gap: 0px 0px;
    width: 99%;
    padding: 0;
}
.l-hbr-grd > aside {
    position: relative;
    border-width: 0; border-right: solid 1px #aaa;
    text-align: right;
    padding: 2px 1px 12px 2px;
}
.l-hbr-grd > aside > p {
    color: #2d2926;
    font-family: 'Lato', sans-serif;
    margin: 2px; padding: 2px;
    line-height: .98;
    white-space: nowrap;
    overflow: hidden;
}
.l-hbr-grd > aside > p:nth-of-type(1) { font-size: 12px; }
.l-hbr-grd > aside > p:nth-of-type(2) { font-size: 11px; }
.l-hbr-grd > output { margin-left: 6px; }
.l-hbr-grd .inline__text {
    color: #2d2926;
    font-family: 'Lato', sans-serif; font-size: 12px;
    margin: 2px; padding: 2px;
    line-height: .98;
    white-space: nowrap;
    overflow: hidden;
}
.l-hbr-grd .goal-line {
    position: relative; top: -28px;
    display: block;
    border: 0;
    border-right: solid 4px #aaa;
    width: 0; height: 32px;
    z-index: 64;
}
{{< /highlight >}}
                <div class="h-center">
                    <button class="js-copy-btn l-btn l-btn--ghost" onclick="doCopyClass('#js-vue_hybrid_data_viz')" data-n55-wired4sound-click="10">Copy</button>
                </div>
            </details>
        </article>
    </section>
</template>

<script>
    function doOpenwithCB( _ndSodaPopId ){  // Callback by nameing convention (soda pop api)
        if( neodigmSodaPop ) {
            if (typeof window[_ndSodaPopId] === "function") neodigmSodaPop.setOnAfterOpen( window[_ndSodaPopId] )
            neodigmSodaPop.autoOpen( _ndSodaPopId )
        }
    }
</script>

<script>
    setTimeout(function(){ document.body.dataset.prefScheme="dark"; }, 680)
    setTimeout(function(){ if( neodigmSodaPop && neodigmMarquee ) neodigmSodaPop.setOnAfterOpen( function(){
        neodigmMetronome.init()
        neodigmMarquee.init()
        }
        ) }, 3200)
</script>