{{ partial "head.html" . }}
    <body>
        <div style="height: 56px; margin: 0;"></div>
        {{ partial "megamenu.html" . }}
        <main role="main">
            <picture class="hero-single" role="banner"> <!--  1280 X 720  -->
                <img class="" src="../{{.Page.Slug}}_tn.webp" alt="{{ .Title }}">
                <figcaption class="l-cat-chip">
                        {{ range (.GetTerms "categories") }}
                            <a class="pfmf-coy_bg__0"
                                href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                </figcaption>
            </picture>

            <h1 class="readable__title h-center"> {{ .Title }} </h1>
            <p class="readable__doc h-center">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>

            {{ .Content }}  

            {{ partial "carousel_emerging_tech.html" . }}

            <section class="l-tag-chip">
                {{ range (.GetTerms "tags") }}
                    <a class="pfmf-coy_bg__0" data-at="pfmf-coy_bg__0|pfmf-coy_bg__1|pfmf-coy_bg__3|pfmf-coy_bg__4|pfmf-coy_bg__5|pfmf-coy_bg__6|pfmf-coy_bg__8|pfmf-coy_bg__9"
                        data-at-change="class"
                        href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </section>

            {{ partial "pfmf_script.html" . }}

        </main>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab:300,400" rel="stylesheet" type="text/css">

{{ partial "jsonld_self.html" . }}

    </body>
</html>