<neodigm-widget data-n55-widget-id="horizontal_scroll_wdg"></neodigm-widget>


<n55-wdg-horz-scrl id="region">
    <div id="region-container" style="width: 400%;">
  
        <article class="panel" style="background-color: #242424; background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(145,94,0,1) 76%, rgba(36,36,36,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd0">phenomenal storytelling</p>
            <p class="hd0">that resonates</p></div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff;" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd0">interactivity is the</p>
            <p class="hd0">active ingredient</p></div>
        </div>
        </article>
        <article class="panel" style="background-color: #242424;background: radial-gradient(circle, rgba(36,36,36,1) 0%, rgba(201,63,96,1) 76%, rgba(36,36,36,1) 100%);" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd0">hyper-persuasive</p>
            <p class="hd0">infographics</p></div>
        </div>
        </article>
        <article class="panel" style="background-color: #fff;" data-pref-scheme="light">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd0">succinct data</p>
            <p class="hd0">visualizations</p></div>
        </div>
        </article>
        <!--<article class="panel" style="background-color: #edba08;" data-pref-scheme="dark">
        <div class="h-left" style="padding: 32px; margin: 32px;">
            <div><br><p class="hd0" style="color: #fff;">enchanted ux</p>
        </div>
        </article>-->
  
    </div>
  </n55-wdg-horz-scrl>