<section class="pfmf-grid pfmf-grid__40_60">
    <div>
        
        <!--<article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Video FX | 3D Motion Graphics</p></article>-->
        <article class="pfmf-crd--black h-center"><h2 id="js-vid-id" class="readable__doc readable__doc--white">Video FX | 3D Motion Graphics</h2></article>

        <article>
<video preload="auto"
autoplay="" loop="" muted="" 
poster=""
style="background-color: transparent; width: 100%;outline: none;">
<source src="./video/about_the_author.mp4" type="video/mp4"
data-caro-target="3">
</video>
        </article>
    </div>
    <div>
        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="3">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/abbott_inspire_it_iphone_ask_why.jpg" alt="Interactive Infographic TypeScript ⚡ WASM ✨ PWA">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/about_the_author.jpg" alt="UX Interactive Infographic 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/a55_video_mobile_fore.jpg" alt="Interactive UX Infographic 👁️ PWA ⚡ Vue.js and WebGL 🍭">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/abbott_inspire_it_change.jpg" alt="Interactive Infographic 🦄 Creative, Business, and Tech ⚡">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/neo_green_part.jpg" alt="Interactive Infographic Creative ⚡ Business ⚡ Typescript Agility">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/abbott_ink_and_paper.jpg" alt="Interactive Infographic 👁️ D3 Parallax Three.js && WebGL && GSAP 🍭">
                <img class="caro-target__js" data-n55-wired4sound-click="10" src="video/carsyours_fintech_saas.jpg" alt="front-end engineer, Interactive Infographic UX artisan ⚡ illustrator">
            </section>  
        </article>
        <div class="h-center">
            <br>
            <a id="btn-contact-us" href="#a11y-skipmain" data-n55-enchanted-cta=""
            data-n55-sodapop-id="js-contactPop__id"
            data-n55-wired4sound-click="7"
            data-n55-enchanted-cta-size="medium" data-n55-flash-theme="marcom"
            data-n55-enchanted-cta-dont-touch="true" data-n55-theme="night">
                <span>
                    <neodigm-marquee data-n55-marquee-text="  Hey, stop hiring software engineers that quit after 3 months!  Technical debt is kicking your ass.  Every company is now a technology company.  You need to build an agile digital culture.  If your website sucks, do you exist?  Enliven and Entice with the Vivacity of Mischief. Seize the Microsecond.  "
                    data-n55-marquee-size="xsmall" data-n55-flash-theme="brand"
                    data-n55-sodapop-id="js-contactPop__id"
                    data-n55-marquee-direction="false"><pre data-n55-theme="brand" data-n55-flash-theme="brand"></pre></neodigm-marquee>
                </span>
                <span data-n55-wired4sound-mouseover="3">Let's Connect <neodigm-icon class="material-symbols-outlined">mail</neodigm-icon></span>
            </a>
        </div>
    </div>
</section>

<script type="application/ld+json">{
    "@context": "https://schema.org", "@type": "VideoObject",
    "name": "About the Author",
    "description": "Creative VFX 3D Animation Marketing Infographics UX PWA Svelte ThreeJS Vue",
    "thumbnailUrl": "https://www.theScottKrause.com/video/about_the_author.jpg",
    "uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M32S",
    "contentUrl": "https://www.theScottKrause.com/video/about_the_author.mp4",
    "embedUrl": "https://www.theScottKrause.com/video/about_the_author.mp4", "interactionCount": "4452",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "abbott inspire it iphone ask why",
"description": "Infographics UX PWA Typescript Svelte ThreeJS Vue VFX 3D Animation Communication",
"thumbnailUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_iphone_ask_why.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M24S",
"contentUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_iphone_ask_why.mp4",
"embedUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_iphone_ask_why.mp4", "interactionCount": "2424",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "Arcanus 55 video mobile foreground",
"description": "After Effects 3D Infographics UX PWA Typescript Svelte ThreeJS Vue Marketing Communication",
"thumbnailUrl": "https://www.theScottKrause.com/video/a55_video_mobile_fore.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M12S",
"contentUrl": "https://www.theScottKrause.com/video/a55_video_mobile_fore.mp4",
"embedUrl": "https://www.theScottKrause.com/video/a55_video_mobile_fore.mp4", "interactionCount": "1122",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "abbott inspire it change",
"description": "Creative VFX 3D illustrator Marketing Infographics UX WASM PWA Typescript ThreeJS Svelte ",
"thumbnailUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_change.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M48S",
"contentUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_change.mp4",
"embedUrl": "https://www.theScottKrause.com/video/abbott_inspire_it_change.mp4", "interactionCount": "3423",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "neo green particals",
"description": "VFX Creative WASM PWA Typescript Svelte ThreeJS Vue.js Animation Marketing",
"thumbnailUrl": "https://www.theScottKrause.com/video/neo_green_part.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M24S",
"contentUrl": "https://www.theScottKrause.com/video/neo_green_part.mp4",
"embedUrl": "https://www.theScottKrause.com/video/neo_green_part.mp4", "interactionCount": "6788",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "abbott ink and paper",
"description": "Creative Interactive Infographics UX PWA ThreeJS Vue Animation Marketing Communication",
"thumbnailUrl": "https://www.theScottKrause.com/video/abbott_ink_and_paper.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M18S",
"contentUrl": "https://www.theScottKrause.com/video/abbott_ink_and_paper.mp4",
"embedUrl": "https://www.theScottKrause.com/video/abbott_ink_and_paper.mp4", "interactionCount": "90899",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>
<script type="application/ld+json">{
"@context": "https://schema.org", "@type": "VideoObject",
"name": "auto fintech saas",
"description": "Marketing Communication Creative Interactive Infographic UX WASM Typescript ThreeJS Vue.js",
"thumbnailUrl": "https://www.theScottKrause.com/video/carsyours_fintech_saas.jpg",
"uploadDate": "2022-04-05T08:00:00+02:00", "duration": "PT1M38S",
"contentUrl": "https://www.theScottKrause.com/video/carsyours_fintech_saas.mp4",
"embedUrl": "https://www.theScottKrause.com/video/carsyours_fintech_saas.mp4", "interactionCount": "34567",
"author": { "@type": "Person", "name": "Scott Krause" }
}</script>