<section class="pfmf-grid pfmf-grid__40_60">
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Branded Infographic & Logo Design</p></article>

        <article class="l-HeroZoom-Cntr">
            <span class="l-HeroZoom">
                <section>
                    <img class="js-img_HeroZoom_bg" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/41.webp" alt="WASM Shopify JavaScript Vue.js Three.js HubSpot"
                    style="height: auto; width: 100%;"
                    data-caro-target="1" data-zoom="true">
                    <div>
                        <img class="js-img_HeroZoom" alt="Neodigm"
                        src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/41.webp"
                        data-caro-target="1">
                    </div>
                </section>
            </span>
        </article>
        
    </div>
    <div>

        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="1">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/1.webp"  alt="logo illustrated design htmlx Infographic">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/3.webp"  alt="corp Identity svelte htmlx infographic">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/31.webp"  alt="Neodigm 55 UX Gamification htmlx Infographic Chicago">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/4.webp"  alt="branded logo Chicago Svelte">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/38.webp" alt="low code open source devtoys wasm HTMLX pwa infographic">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/5.webp"  alt="branded UX illustration infographic">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/7.webp"  alt="hand drawn logo Chicago Svelte">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/8.webp"  alt="photoshoped logo Chicago Svelte">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/36.webp" alt="svelte wasm HTMLX pwa interactive infographic">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/10.webp" alt="illustrated logo Chicago Svelte HTMLX PWA">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/39.webp" alt="photo Infographic trinkets devtoys wasm HTMLX pwa">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/11.webp" alt="Svelte WASM Vue creative logo">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/12.webp" alt="Vue logo branded">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/13.webp" alt="creative Chicago Infographic brand">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/37.webp" alt="Neodigm Cargo Cult and Bikeshedding">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/14.webp" alt="creative Vue.js branded">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/41.webp" alt="branded devtoys logo design">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/16.webp" alt="branded JavaScript creative">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/32.webp" alt="creative pwa interactive infographic">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/17.webp" alt="creative WASM brand logo">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/25.webp" alt="infographic brand logo">
                <img class="caro-target__js" data-zoom="false"  data-n55-wired4sound-click="5" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/20.webp" alt="legacy logo design">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/40.webp" alt="vintage logo design">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/27.webp" alt="Chicago infographic UX HTMLX">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.webp" alt="creative logo graphic design">
                <img class="caro-target__js" data-zoom="square" data-n55-wired4sound-click="7"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/28.webp" alt="creative codeing HTMLX ux infographic">
            </section>  
        </article>
    </div>
</section>