<section class="pfmf-grid pfmf-grid__40_60">
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Video FX | 3D Motion Graphics</p></article>
        <article>
<video preload="auto"
autoplay="" loop="" muted="" 
poster=""
style="background-color: transparent; width: 100%;outline: none;">
<source src="./video/about_the_author.mp4" type="video/mp4"
data-caro-target="3">
</video>
        </article>
    </div>
    <div>

        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="3">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/abbott_inspire_it_iphone_ask_why.jpg" alt="TypeScript ⚡ WASM ✨ NestJS">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/about_the_author.jpg" alt="DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/a55_video_mobile_fore.jpg" alt="👁️ UX ⚡ Vue.js and WebGL (WASM 🐹 GoLang) 🍭">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/abbott_inspire_it_change.jpg" alt="🦄 Creative, Business, and Tech ⚡">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/neo_green_part.jpg" alt="Creative ⚡ Business ⚡ Technical Agility">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/abbott_ink_and_paper.jpg" alt="👁️ D3 Parallax Three.js && WebGL && GSAP 🍭">
                <img class="caro-target__js" data-n55-wired4sound="click|10" src="video/carsyours_fintech_saas.jpg" alt="UX artisan ⚡ illustrator ⚡ front-end engineer">
            </section>  
        </article>
    </div>
</section>