<section class="pfmf-grid pfmf-grid__60_40">
    <div>
            
        <article class="js-art__caro h-ds__none">
            <section class="l-caro-design__cnt h-bg__stripe"
            data-caro-src="8">
            {{ range .Site.Pages }}
                {{ if (eq .File.Dir "patterns/" ) }}
                <a class="l-blog-crd" href="{{.Permalink}}">
                <section>
                    <picture>
                        <!--  1280 X 720  -->
                        <img src="/patterns/{{.Page.Slug}}_tn.webp" alt="{{.Page.Title}}">
                    </picture>
                    <p>Patterns</p>
                    <!-- {{.Title}} | {{.File.Dir}} -->
                    <h5> {{.Page.Title}} </h5>
                    <h6> {{.Page.Summary}} </h6>
                    <pre>
                        {{.Content}}
                    </pre>
                    <p>{{.Date.Format "2006-01-02"}}</p>
                </section>
                </a>
                {{end}}
            {{ end }}
            </section>
        </article>

    </div>
    <div>

        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white"
            data-at="Source Code & Snippets|Scripts & Gists|Real-world vetted code|Functional Functions|Best Practices & Patterns">Source Code & Snippets</p></article>
        <article><img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.webp" alt="WASM Golang JavaScript Vue"
            style="height: auto; width: 100%;"
            data-caro-target="8"></article>

            <div style="background-color:#fff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:480px"><div style="overflow:hidden;position:relative;height:0;padding:78.242915% 0 0 0;width:100%;"><iframe src="https://dada.art/ec/126131" width="480" height="380" scrolling="no" frameborder="0" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div><p style="margin:0;"></p></div>

    </div>
</section>