<section class="pfmf-grid pfmf-grid__60_40">
    <div>
        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="2">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_1.jpg" alt="TypeScript ⚡ WASM ✨ PWA 🍭 ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_2.jpg" alt="🏖️ Inspired Problem Solver 🚀 Visual Storyteller">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_3.jpg" alt="Vue ✨ DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_4.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_5.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_6.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_7.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_8.jpg" alt="TypeScript ⚡ WASM ✨ PWA 🍭 ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_9.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/microsoft_mcsd_cert_sql_server.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/microsoft_mcsd_cert_wosa.jpg" alt="Vue ✨ DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/abbott_informatica_siperian_2.png" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|4" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/abbott_informatica_siperian_3.png" alt="🏖️ Inspired Problem Solver 🚀 Visual Storyteller">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/abbott_informatica_powercenter_1.png" alt="Vue ✨ DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/cert_ooad.jpg" alt="">

                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/microsoft_mcsd.jpg" alt="DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/advanced_revelation.jpg" alt="🏖️ Inspired Problem Solver 🚀 Visual Storyteller">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/microsoft_mcps.jpg" alt="Vue ✨ DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">

                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/cert_unix.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/cert_wosa.jpg" alt="TypeScript ⚡ WASM ✨ PWA 🍭 ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/google_analytics_cert.jpg" alt="">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/google_tag_manager_cert.jpg" alt="DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/illinois_notary_public.jpg" alt="🏖️ Inspired Problem Solver 🚀 Visual Storyteller">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/Abbott_Scott_Krause_Silver_Award_MITS_eMDR_2009.jpg" alt="DataVis 👁️ UX 🍭 PWA 👁️ ThreeJS">
                <img class="caro-target__js" data-n55-wired4sound="click|5" src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/salesforce_administrator_cert.jpg" alt="TypeScript ⚡ WASM ✨ PWA 🍭 ThreeJS">
            </section>   
        </article>
    </div>
    <div>
        <article class="pfmf-crd--black h-center">
            <p class="readable__doc readable__doc--white">Certifications & Awards</p></article>
        <article><img src="https://www.thescottkrause.com/ux/typescript/engineer/wasm/hci_uc_san_diego_6.jpg" alt="Certification"
            style="height: auto; width: 100%;"
            data-caro-target="2"></article>
    </div>
</section>