<section class="pfmf-grid pfmf-grid__100">
    <div>

        <article class="js-art__caro h-ds__none">
            <section class="l-caro-design__cnt">
            {{ range .Site.Pages }}
                {{ if (eq .File.Dir "emerging_tech/" ) }}
                <a class="l-blog-crd" href="{{.Permalink}}">
                <section>
                    <picture>
                        <!--  1280 X 720  -->
                        <img src="/emerging_tech/{{.Page.Slug}}_tn.webp" alt="{{.Page.Title}}">
                    </picture>
                    <p>Emerging Tech</p>
                    <!-- {{.Title}} | {{.File.Dir}} -->
                    <h5> {{.Page.Title}} </h5>
                    <h6> {{.Page.Summary}} </h6>
                    <p>{{.Date.Format "2006-01-02"}}</p>
                </section>
                </a>
                {{end}}
            {{ end }}
            </section>
        </article>

    </div>
</section>