<section class="pfmf-grid pfmf-grid__40_60">
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Branding, Identity & Logo Design</p></article>

        <article class="l-HeroZoom-Cntr">
            <span class="l-HeroZoom">
                <section>
                    <img class="js-img_HeroZoom_bg" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.webp" alt="WASM Golang JavaScript Vue.js Rollup HubSpot"
                    style="height: auto; width: 100%;"
                    data-caro-target="1" data-zoom="true">
                    <div>
                        <img class="js-img_HeroZoom" alt="Neodigm"
                        src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.webp"
                        data-caro-target="1">
                    </div>
                </section>
            </span>
        </article>
        
    </div>
    <div>

        <article class="js-art__caro l-caro-design h-ds__none">
            <section class="l-caro-design__cnt"
            data-caro-src="1">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/1.webp"  alt="logo">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/2.webp"  alt="illustration">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/3.webp"  alt="corp Identity">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/4.webp"  alt="branded logo">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/5.webp"  alt="branded illustration">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/7.webp"  alt="hand drawn logo">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/8.webp"  alt="photoshoped logo">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/10.webp" alt="illustrated logo">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/11.webp" alt="creative logo">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/12.webp" alt="logo branded">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/13.webp" alt="creative brand">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/30.webp" alt="illustrated design">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/14.webp" alt="creative branded">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/16.webp" alt="branded creative">
                <img class="caro-target__js" data-zoom="false" data-wired4sound="click|14" src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/17.webp" alt="creative brand logo">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/20.webp" alt="legacy logo design">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/21.webp" alt="vintage logo design">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.webp" alt="creative logo design">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/27.webp" alt="creative codeing">
                <img class="caro-target__js" data-zoom="true"  data-wired4sound="click|8"  src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/28.webp" alt="creative codeing ux">
            </section>  
        </article>
    </div>
</section>