<section class="pfmf-grid pfmf-grid__100 readable__caption">
    <div><article style="min-height: 128px;text-align: center;padding: 16px 8px;">
        <svg version="1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewbox="0 0 44 44"><path fill="none" d="M-11.813 6.875h65.875v64.892h-65.875z"></path><path fill="#c2baa2" d="M14.467 16.879c0 2.664 5.544 3.096 5.544 9.648 0 4.824-3.456 8.426-8.28 8.426-5.185 0-8.569-4.609-8.569-9.506 0-8.424 7.92-19.585 12.817-19.585 1.225 0 3.456.864 3.456 2.376s-4.968 4.104-4.968 8.641zm19.585 0c0 2.664 5.545 3.096 5.545 9.648 0 4.824-3.456 8.426-8.281 8.426-5.184 0-8.568-4.609-8.568-9.506 0-8.424 7.921-19.585 12.817-19.585 1.224 0 3.456.864 3.456 2.376s-4.969 4.104-4.969 8.641z"></path></svg>
        <span data-at-cycle>
            <span class="h-ds__none">
                <span>Good morning Scott,&nbsp;Just wanted to touch base, and see how all is going over at Abbott. I met with Brad about a week and a half ago, and he had great things to say about the job that you are doing. You are actually one of the benchmarks now of the type of person we are looking for that group. Thanks again for the great job you are doing!</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Mark Minkin, CIR - Resource Recruiter Vendor Operations </span>
            </span>
            <span class="h-ds__none">
                <span>You must be able to communicate to a larger team exactly why a particular element is failing WCAG success criteria and provide examples of how to fix it. Don’t fix it for them but help your team understand how to identify the issue and fix it. Don’t simply make the change, be the agent of change.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - A11y Agent of change</span>
            </span>
            <span class="h-ds__none">
                <span>Scott has absorbed the complexity of the Abbott Business Intelligence apparatus (Autosys, JBoss, Java, PowerCenter, Informatica MDM, Informatica Data Director, PL/SQL, SOA architecture, CRM). Scott prides himself on his ability to make complex topics approachable. He explains, simplifies and documents.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Hubert Karst - Application Technology Manager</span>
            </span>
            <span class="h-ds__none">
                <span>It was a pleasure to work with Scott during many UI improvements Projects for www.ltdcommodities.com and www.lakeside.com. Scott always stood out for his problem solving skills and is a good listener. He also possess a great creative mind and is an awesome team player. He is an asset to any team and contributes towards the success of any Project.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Ahmed Syed --CSPO & CSM</span>
            </span>
            <span class="h-ds__none">
                <span>Achieving accessibility nirvana is not easy for an eCommerce site. If you are uninspired, try to think of it in terms of exposing your business to a new group of shoppers who would have trouble shopping at your competitor’s site.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Accessibility</span>
            </span>
            <span class="h-ds__none">
                <span>It is with great pride that I announce Scott Krause’s promotion to Lead Systems Analyst. Scott has distinguished himself with his self-acquired Microsoft product expertise, a game plan both for professional development and project completion, a whatever-it-takes attitude to accomplishing his goals, and is being promoted two grades levels in accordance with the responsibilities he has accepted and perform within the last year. Scott’s leadership with Microsoft initiatives has been far-reaching for TSH, and his ability to envision the applications of their use within TSH products and services is creative and practical. Congratulations, Scott, on a well-deserved promotion.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Anne T. Smyth - President The Systems House, Inc.</span>
            </span>
            <span class="h-ds__none">
                <span>Everyone appreciates software that is easy to use. I approach design from an user empathetic perspective. Understanding that <i>Effortless</i> is an achievement not an accident. I design user centric experiences and create high-fidelity prototypes allowing the user to interact with the app before it is developed. I can quickly test new designs and identify small flaws before they become big issues.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - User centric design</span>
            </span>
            <span class="h-ds__none">
                <span>Scott has taken the forward looking initiative to master the official Salesforce certification curriculum. Cloud applications and particularly Salesforce are among the fastest growing technologies within ADD, within Abbott and within the life sciences / pharma industry. By embracing Salesforce Scott has proven again that he is an effective early adopter and can align his skill growth with the needs of Abbott Laboratories.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Hubert Karst - Abbott Application Technology Manager</span>
            </span>
            <span class="h-ds__none">
                <span>The Progressive Web App represents the single greatest leap in engagement opportunity since the introduction of the browser. Because of its intimate relationship with the phone the potential to influence the micro-moment behavior of its user is vast and largely unexplored.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Emerging Technology Trends</span>
            </span>
            <span class="h-ds__none">
                <span>It is back to awesome! Unless you quickly say otherwise, the check will be in the mail. Thank you so much for your quick attention to all the adjustments and fixes. I suspect that I will be referring some others to you. Your work is good and your fees are fair and reasonable. Thanks</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Joel Mathews</span>
            </span>
            <span class="h-ds__none">
                <span>I believe that TypeScript represents the evolution of ECMAScript because its unobtrusive compile-time nature encourages code quality at scale. Meaning that a new project, complex in nature would benefit in maintainability over the life cycle of the software.  A seasoned JS developer might do well to remove ego from this decision. It's easy to fall into the trap of thinking 'I don’t make type mistakes.', because you do.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Strong Type Stack</span>
            </span>
            <span class="h-ds__none">
                <span>Scott-&nbsp; Many thanks for pulling this together. Great job writing it up as even for a non-developer like me, I was able to visualize from your description, what you want them to build. We’ve passed it along to them and will share with you the results to determine their prowess!</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Antonio C. - Marketing Director</span>
            </span>
            <span>
                <span>Scott’s ability to apply creative and innovative approaches to problems is well documented and thoroughly ingrained in his DNA. Scott’s forays into the unexplored have included:
    - User Centric Design / UX Prototyping
    - Inspire IT digital communications
    - Team Crowdsourcing
    - Java and PL/SQL User Exits
    - Release Candidate – Change Management
    - Informatica ETL / PCX
    - Salesforce / MDM API Integration feasibility</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Hubert Karst - Application Technology Manager</span>
            </span>
            <span class="h-ds__none">
                <span>I love interaction. I create websites that engage, excite, and inform in a way that is fun. Most of my day is spent enchanting websites with the little details that you will never find in a sea of boring template sites. It's important to present information in a way that tells a story. Like a mystery it should give up its secrets with a few inspired clicks.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Interactive Enchantment</span>
            </span>
            <span class="h-ds__none">
                <span>Thanks, Scott, for taking the time to fix our Access complaint database. We really appreciate your efforts.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Marie Rasico 7/8/10 - Abbott Laboratories Compliance</span>
            </span>
            <span class="h-ds__none">
                <span>Tenacity: A driving need to bring order to chaos and build a solution that solves problems yet unimagined. The ability to break down complex systems into simple sub-systems. To keep in one’s memories’ scratch pad the interdependencies then derive a hypothesis explaining a problem, based on applied experience, critical thinking, and an unbiased scientific method.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - What makes a great programmer?</span>
            </span>
            <span class="h-ds__none">
                <span>The stated business objected is to acquire new omni-channel touch points without cannibalizing existing customer engagement touch points. Meaning the IA should present the post check-out solicitations in a manor in which SMS sign-ups DO NOT negatively impact email sign-ups. I believe the goal has been achieved and the analytics support that conclusion.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - UX Customer Journey</span>
            </span>
            <span class="h-ds__none">
                <span>Emerging tech that has potential to change the attention economy dynamic. These touch-points are available now, and can make your web properties anti-bounce or at least bounce resistant. Think, animation, video, web audio, PWA, push, value add Chrome extensions, 3D, interactive infographics, and data visualizations.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Emerging Marketing Tech</span>
            </span>
            <span class="h-ds__none">
                <span>A Business Accelerator is a targeted, authoritative, and conversion optimized landing page with automated onboarding processes that facilitates a non-linear, multi-touch sales cycle.</span>
                <br>&nbsp; - &nbsp;<span class="h_ital">Scott C. Krause - Bounce-proof Web Experience</span>
            </span>
        </span>
        <svg class="rot180" version="1" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewbox="0 0 44 44"><path fill="none" d="M-11.813 6.875h65.875v64.892h-65.875z"></path><path fill="#c2baa2" d="M14.467 16.879c0 2.664 5.544 3.096 5.544 9.648 0 4.824-3.456 8.426-8.28 8.426-5.185 0-8.569-4.609-8.569-9.506 0-8.424 7.92-19.585 12.817-19.585 1.225 0 3.456.864 3.456 2.376s-4.968 4.104-4.968 8.641zm19.585 0c0 2.664 5.545 3.096 5.545 9.648 0 4.824-3.456 8.426-8.281 8.426-5.184 0-8.568-4.609-8.568-9.506 0-8.424 7.921-19.585 12.817-19.585 1.224 0 3.456.864 3.456 2.376s-4.969 4.104-4.969 8.641z"></path></svg>
    </article></div>
</section>