<section class="pfmf-grid pfmf-grid__40_60">
    <div>
        <article class="pfmf-crd--black h-center"><p class="readable__doc readable__doc--white">Branding, Identity & Logo Design</p></article>
        <article><img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.jpg" alt="WASM Golang JavaScript Vue"
            style="height: auto; width: 100%;"
            data-caro-target="1"></article>
    </div>
    <div>

        <article class="js-sec__cert l-cert-design h-ds__none">
            <section class="l-brand-design cert"
            data-caro-src="1">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/1.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/2.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/3.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/4.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/5.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/7.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/8.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/9.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/10.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/11.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/12.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/13.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/14.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/15.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/16.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/17.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/18.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/20.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/21.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/24.jpg" alt="">
                <img src="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/26.jpg" alt="">
            </section>  
        </article>
    </div>
</section>