<!DOCTYPE html>
<html lang="en">
    <head>
        
<title>UX ⚡ Scott Krause | Vue.js TypeScript GoLang WASM</title>
<!--
  _________             __    __     ____  __.                                  
 /   _____/ ____  _____/  |__/  |_  |    |/ _|___________   __ __  ______ ____  
 \_____  \_/ ___\/  _ \   __\   __\ |      < \_  __ \__  \ |  |  \/  ___// __ \ 
 /        \  \__(  <_> )  |  |  |   |    |  \ |  | \// __ \|  |  /\___ \\  ___/ 
/_______  /\___  >____/|__|  |__|   |____|__ \|__|  (____  /____//____  >\___  >
        \/     \/                           \/           \/           \/     \/ 

        Design strategist 
        I envision, design, simplify, program, and deliver. Oportunities to innovate find me.

        Multidisciplined product designer, developer, and open source contributer. 

        Turn complex ideas into powerful stories
        I learned to use visual language to persuade, and provoke. 

        Dashboards, Infographics, and Data Visualization
        Gamefication and Microinteractions
        Concept Art, Illustration, and 3D animation

        MarTech, AdTech & Personalization
        Visual & Product Designer | Specializing in UI/UX & Interaction Design
        Serial entrepreneur and trouble-maker who thrives at the intersection of business and technology
        Design strategist & team leader. Superb UX, typography, data, and knowledge design acumen. Educator, speaker, mentor.
        d3.js enthusiast. Aficionado.
        product design is a hybrid of ingenuity and simplicity

        I'm a product and brand design leader with extensive experience helping startups grow through purpose-driven design. I'm highly collaborative and believe the best design work results from input and discussions with developers, product managers, customers, and other stakeholders.

“I cannot possibly recommend anyone better than Scott for designing beautiful, functional & clean artifacts. He was able to capture the essence of our organization and consistently hit the nail on the head as he helped update our brand and marketing materials. I hold his level of quality and speed as my standard for design and creative work.” - Name 

It's based on a novel by a man named Lear, I need a break and I want to be a paperback writer
-->
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>
<meta name="description" content="Interactive Resume | TypeScript, Vanilla ES2015 ES6, React.js, a11y, WebAssembly, Jest, Three.js, D3.js, JQuery, and Meteor.js on Node.js.  I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@neodigm24" />
<meta name="twitter:title" content="Scott C. Krause JavaScript Engineer and UX Designer | eCommerce, SaaS and Gamification" />
<meta name="twitter:description" content="Privacy Paranoid | Keypad Encrypted USB | Waterproof Capsule Solution" />
<meta name="twitter:description" content="Node.js Meteor.js JavaScript TypeScript Vue.js React.js Redux Angular Three.js" />
<meta name="twitter:image" content="http://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg" />

<meta property="og:title" content="Scott C. Krause Front-end Engineer | Vue.js TypeScript GoLang WASM">
<meta property="og:site_name" content="Scott C. Krause UX Developer">
<meta property="og:url" content="http://thescottkrause.com/">
<meta property="og:description" content="I craft high-fidelity prototypes and then build responsive, accessible, and aesthetically delightful interfaces. I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg">

<link rel="preconnect" href="http://neodigm.github.io/" crossorigin>
<link rel="dns-prefetch" href="http://neodigm.github.io/" >
<link rel="dns-prefetch" href="http://fonts.googleapis.com/" >
<link rel="dns-prefetch" href="http://unpkg.com/" >

<link rel="stylesheet" href="/css/neodigm.css">

<link rel="stylesheet" href="http://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="http://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.css">
<script src="http://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script defer src="http://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.js"></script>
    </head>