<!DOCTYPE html>
<html lang="en">
    <head>
        
<title>Scott Krause | {{ .Title }}</title>

<!-- 
  _________             __    __     ____  __.                                  
 /   _____/ ____  _____/  |__/  |_  |    |/ _|___________   __ __  ______ ____  
 \_____  \_/ ___\/  _ \   __\   __\ |      < \_  __ \__  \ |  |  \/  ___// __ \ 
 /        \  \__(  <_> )  |  |  |   |    |  \ |  | \// __ \|  |  /\___ \\  ___/ 
/_______  /\___  >____/|__|  |__|   |____|__ \|__|  (____  /____//____  >\___  >
        \/     \/                           \/           \/           \/     \/ 

-->
<meta charset="utf-8">

<meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>
<meta name="description" content="Infographics UX PWA Typescript ECS data viz Shopify ThreeJS Vue WASM and JavaScript">

<link rel="z a n o n i c a l" href="https://www.theScottKrause.com/index.html" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<link id="dyn-icn" rel="icon" type="image/png" href="/android-chrome-512x512_danger.png">

<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#edba08">
<meta name="msapplication-TileColor" content="#edba08">
<meta name="theme-color" content="#edba08">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@neodigm55" />
<meta name="twitter:title" content="Infographics UX ECS Fargate PWA Typescript SolidJS ThreeJS Vue WASM and JavaScript" />
<meta name="twitter:description" content="Lead product storyteller, UX artisan, front-end engineer, and prolific open source contributor. Reimagine product narratives as interactive dashboards, persuasive infographics, and succinct data visualizations. Advocate for performant, functional, testable, future-proof, and trusted JavaScript, TypeScript, and Svelt." />
<meta name="twitter:image" content="https://www.thescottkrause.com/emerging_tech/neodigm55_UX_library_tn.webp" />

<meta property="og:title" content="Scott C. Krause Front-end Engineer | Infographics UX PWA Shopify Polaris Liquid GraphQL">
<meta property="og:site_name" content="Scott C. Krause UX Developer">
<meta property="og:url" content="https://www.theScottKrause.com/">
<meta property="og:description" content="Lead product storyteller, UX artisan, front-end engineer, and prolific open source contributor. Reimagine product narratives as interactive dashboards, persuasive infographics, and succinct data visualizations. Advocate for performant, functional, testable, future-proof, and trusted JavaScript, TypeScript, and Svelt.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.thescottkrause.com/emerging_tech/neodigm55_UX_library_tn.webp">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="Scott Krause" />

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T9KM7W7');</script>
    
<link rel="preconnect" href="https://neodigm.github.io/" crossorigin>
<link rel="dns-prefetch" href="https://neodigm.github.io/" >
<link rel="dns-prefetch" href="https://fonts.googleapis.com/" >
<link rel="dns-prefetch" href="https://unpkg.com/" >

<link rel="stylesheet" href="/css/flickity.min.css">
<link rel="stylesheet" href="/css/neodigm.css">

<template rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"></template>
<template src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></template>
    </head>