<section class="megamenu">
        <header>
            <section class="megamenu__grd--top">
                <nav>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
                </nav>
                <div>
                        <h5>{{ .Title }}</h5>
                        <h6>{{ .Date }}</h6>
                </div>
                <nav>
                X
                </nav>
            </section>
        </header>
        <footer>
            <section class="megamenu__grd--bottom">
               <button data-mm-desc="">UX Portfolio</button>
               <button data-mm-desc="">Projects</button>
               <button data-mm-desc="">Designs</button>
               <button data-mm-desc="">Articles</button>
               <button data-mm-desc="">Contact</button>
            </section>
        </footer>
</section>