
<link rel="stylesheet"
href="/css/rainbow.css">
<script src="/js/highlight.pack.js"></script>
<script src="/js/flickity.pkgd.min.js"></script>

<template rel="stylesheet" href="https://cdn.jsdelivr.net/gh/arcanus55/neodigm55@gh-pages/dist/neodigm55_v2_1.min.css"></template>
<link rel="stylesheet" href="https://arcanus55.github.io/neodigm55/dist/neodigm55_v2_1.css">
<template src="https://cdn.jsdelivr.net/gh/arcanus55/neodigm55@gh-pages/dist/neodigm55_v2_1.min.js"></template>
<script src="https://arcanus55.github.io/neodigm55/dist/neodigm55_v2_1.js"></script>

<link rel="manifest" href="/manifest.json">
<script>
    if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register("/sw.js");
        });
    }
</script>

<script>
    hljs.initHighlightingOnLoad();
</script>

<script>
    var _d = oD = document;

    function playAudioFile( nSound ) {
        if( neodigmOpt.neodigmWired4Sound ) neodigmWired4Sound.play( nSound )
    };
    function playAudioRand( aSound ){  //  Either Or | array | max 2
        if( neodigmOpt.neodigmWired4Sound ) neodigmWired4Sound.play( aSound[Math.random()+.5|0] )
    }
</script>

<script>
setTimeout(()=>{  //  autoOpen if in query string
    let autoOpenParm = new URLSearchParams( document.location.search )
    autoOpenParm = autoOpenParm.get("autoOpen")
    if( autoOpenParm && neodigmSodaPop ) {  // Callback by nameing convention
        if (typeof window[autoOpenParm] === "function") neodigmSodaPop.setOnAfterOpen( window[autoOpenParm] )
        neodigmSodaPop.autoOpen( autoOpenParm )
    }
},876)

let pfmf_tagFilter = ((_d, _q)=>{  //  Dyn content filtering by tag chip
    let aTags = aArts = []  //  TODO make removal chips from aTags array
    setTimeout(()=>{
        pfmf_tagFilter.init()
    },760)
    setTimeout(()=>{  //  auto-click tab if filter search param exists
        var searchParm = new URLSearchParams( document.location.search )
        searchParm = searchParm.get("filter")
        if( searchParm ) {
            searchParm = document.querySelectorAll(".fav-tag--" + searchParm )[0]
            searchParm.click()
        }
    },976)
    return {
        init: ()=>{
            aArts = [ ... _d.querySelectorAll( _q ) ]
            if( aArts ){
                let aChips = []
                aArts.map((art)=>{
                    aChips = [ ... art.querySelectorAll( "p.fav__tag span" ) ]
                    if( aChips ){
                        aChips.forEach((chip)=>{
                            chip.addEventListener("click", pfmf_tagFilter.doFilter)
                        })
                        art.aChips = aChips
                        art.dataset.pfmfTagFilter = "true"                        
                    }
                    return art
                })
            }
        },
        doFilter: (ev)=>{
            let sFilter = ev.currentTarget.innerHTML
            let nCount = 0
            aArts.map((art)=>{
                let bShow = false
                aTags.push( sFilter )  //  TODO make removal chips from aTags array
                art.aChips.forEach((chip)=>{
                    if( chip.innerHTML == sFilter ) bShow = true
                })
                if( bShow ){
                    nCount++
                }
                art.dataset.pfmfTagFilter = (bShow) ? "true" : "false"
                return art
            })
            if( neodigmToast ) neodigmToast.q( nCount + " " + sFilter );
        }
    };

})( document, "[data-pfmf-tag-filter]");
</script>

<script>
let aTiny = {"a":"ᵃ","b":"ᵇ","c":"ᶜ","d":"ᵈ","e":"ᵉ","f":"ᶠ","g":"ᵍ","h":"ʰ","i":"ᶦ","j":"ʲ","k":"ᵏ","l":"ᶫ","m":"ᵐ","n":"ᶰ","o":"ᵒ","p":"ᵖ","q":"ᑫ","r":"ʳ","s":"ˢ","t":"ᵗ","u":"ᵘ","v":"ᵛ","w":"ʷ","x":"ˣ","y":"ʸ","z":"ᶻ","A":"ᴬ","B":"ᴮ","C":"ᶜ","D":"ᴰ","E":"ᴱ","F":"ᶠ","G":"ᴳ","H":"ᴴ","I":"ᴵ","J":"ᴶ","K":"ᴷ","L":"ᴸ","M":"ᴹ","N":"ᴺ","O":"ᴼ","P":"ᴾ","Q":"ᑫ","R":"ᴿ","S":"ˢ","T":"ᵀ","U":"ᵁ","V":"ⱽ","W":"ᵂ","X":"ˣ","Y":"ʸ","Z":"ᶻ","`":"`","~":"~","!":"﹗","@":"@","#":"#","$":"﹩","%":"﹪","^":"^","&":"﹠","*":"﹡","(":"⁽",")":"⁾","_":"⁻","-":"⁻","=":"⁼","+":"+","{":"{","[":"[","}":"}","]":"]",":":"﹕",";":"﹔","?":"﹖"};
let doTinyCaption = ( (_d, _q, _t) => {  //  Inject Tiny type
        let aTinyCnt = [..._d.querySelectorAll( _q )];
        if( aTinyCnt ){ setTimeout( ()=>{ doTinyCaption.tick(); }, 32); }
        return {
            "tick": ()=>{
                let sMU = "";
                aTinyCnt.forEach( (eVivCnt) => {
                    if(eVivCnt.atTiny !== eVivCnt.dataset.atTiny){ // Data atr changed
                        Array.from( eVivCnt.dataset.atTiny ).filter(( sChr )=>{
                            sMU += ( sChr == " ") ? " "  : aTiny[ sChr ];
                        });
                        eVivCnt.innerHTML = sMU;
                        eVivCnt.atTiny = eVivCnt.dataset.atTiny;
                    }
                } );
                setTimeout( ()=>{ doTinyCaption.tick(); }, _t);
            }
        };
    })(document, "[data-at-tiny]", 13664 );
</script>

<script type="module" src ="/js/a55_3d.js"></script>
<script>
var o3 = null;
var o3Config = (function(){
  var camera, scene, renderer, controls;
  return {
    "controls": function(){
        return controls;
    },
    "autoSpin": function(){
      controls.update();
      requestAnimationFrame( o3Config.autoSpin );
      renderer.render( scene, camera );
    },
    "spin": function(){
      renderer.render( scene, camera );
    },
    "init": function( e3ds ){
            var sPath = e3ds.dataset.thr3Load, sW = e3ds.dataset.thr3W, sH = e3ds.dataset.thr3H;
              scene = new o3.Scene();/* Scene */

              var pointLightOrange = new o3.PointLight( 0xC9F4ED, 2, 800 );
              pointLightOrange.position.set( -4000, -400, -66 ).normalize();
              scene.add( pointLightOrange );

              camera = new o3.PerspectiveCamera( 4, 1, 1, 1000 );/* Camera */
              camera.position.x = 56; camera.position.y = 56; camera.position.z = 56;
              scene.add( camera );
              camera.add( pointLightOrange ); // Point light with camera

              renderer = new o3.WebGLRenderer( { antialias: true, alpha: true } );/* Renderer */
              renderer.setPixelRatio( window.devicePixelRatio );
              renderer.setSize( sW, sH );
              e3ds.appendChild( renderer.domElement );

              var loader = new o3loadr();/* Loader */
              loader.load( sPath , function ( gltf ) {
                scene.add( gltf.scene );
                o3Config.spin();
              } );

              controls = new o3orbit( camera, renderer.domElement );/* Controls */
              controls.autoRotate = true; controls.autoRotateSpeed = 9.4;
              controls.addEventListener( 'change', o3Config.spin );
              controls.update();
              setTimeout( o3Config.autoSpin, 256);

              window.addEventListener( 'resize', onWindowResize, false );
              function onWindowResize() {
                camera.aspect = 1;
                camera.updateProjectionMatrix();
                renderer.setSize( sW, sH );
                o3Config.spin();
              }
            }
  }
})();
var e3 = document.querySelector("[data-thr3-load]");
if( e3 ) { // Delay 3d call if still null
  setTimeout(function(){
    o3Config.init( e3 );
    }, (o3===null) ? 3e3 : 800 )
}
</script>
<script>
    var _d = document;
    _d.addEventListener( "contextmenu", function(e) { playAudioFile( 6 ); });  //  On right-click
    console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");

    setInterval(function(){  //  Legacy Metronome
        [].slice.call( _d.querySelectorAll( "[data-at]" ) ).filter( function( e3 ){
            if( neodigmUtils.f1210() >= 4 ){  //  rnd pipe delim array in data attr
                var sAlt = e3.dataset.at;
                if( sAlt ){
                    var aAlt = sAlt.split("|");
                    if( aAlt.length > 1 ){
                        aAlt.push(aAlt.shift())
                        e3.dataset.at = aAlt.join("|")
                        aAlt = aAlt[ aAlt.length-1 ]; 
                        if( e3.dataset.atChange ){
                            if( e3.dataset.atChange == "class"){
                                e3.classList.remove(...e3.classList);
                                e3.classList.add( aAlt );
                            }else{
                                if( e3.dataset.atChange.indexOf("data-") != -1){
                                    e3.dataset[ neodigmUtils.data2prop(e3.dataset.atChange) ] = aAlt;
                                }else{
                                    e3[ e3.dataset.atChange ] = aAlt;
                                }
                            }
                        }else{
                            e3.innerHTML = aAlt;
                        }
                    }
                }
            }
        });        
    }, 3256);
    
    let fCycle = ( (_d, _q, _t) => {  //  Cycle content display logic
        let aCycCnt = [..._d.querySelectorAll( _q )];
        if( aCycCnt ){
            aCycCnt.forEach( (eCycCnt) => {
                eCycCnt.nCycCnt=0;
                eCycCnt.addEventListener("click", (ev)=>{ fCycle.tick( false ); });
            } );
            setTimeout( ()=>{ fCycle.tick(); }, 4);
        }
        return {
            "pretick": ()=> {  // Blur
                var eCycLive = _d.querySelector( "[data-at-cycle-live='true']" );
                eCycLive.classList.add( "h-fade" );
                eCycLive.dataset.atCycleLive = "false";
            },
            "tick": ( bTimeout=true )=>{
                aCycCnt.map( (e)=>{
                    [...e.children].forEach( (eChild, nIndx) => {
                    eChild.classList.remove("h-ds__inline", "h-ds__none");
                    eChild.classList.remove( "h-fade" );
                    if( nIndx === e.nCycCnt ){
                        eChild.classList.add( "h-ds__inline" );
                        eChild.dataset.atCycleLive = "true";
                    }else{
                        eChild.classList.add( "h-ds__none" );
                    }
                    });
                    e.nCycCnt = (e.nCycCnt === (e.children.length - 1)) ? 0 : (e.nCycCnt + 1);
                });
                if( bTimeout && (aCycCnt.length > 0) ){
                    setTimeout( ()=>{ fCycle.pretick(); }, (_t - 920));
                    setTimeout( ()=>{ fCycle.tick(); }, _t);
                }
            }
        }
    })(document, "[data-at-cycle]", 12008 );
    
    let doCertCarousel = ( _d=document, qry=[".js-art__caro",".l-caro-design__cnt"]) => {
        let elSecCert = [].slice.call(_d.querySelectorAll( qry[0] )), nCnt=0;
        elSecCert.forEach(eCert => { // Lazy Load Carousels and wire DOM events
            let elFlickCert = eCert.querySelector( qry[1] );
            if( eCert && elFlickCert && Flickity ){
                setTimeout(function(){
                    eCert.classList.remove("h-ds__none");
                    var flktyCert = new Flickity( elFlickCert, {
                    "cellAlign": "left", "contain": true, "autoPlay": true, "groupCells": true,
                    pageDots: false
                    });
                    var aTrg = [].slice.call(_d.querySelectorAll(".flickity-slider .caro-target__js"));
                    aTrg.forEach(eTrg => {
                        eTrg.addEventListener("click", (ev) => {
                            let eCrdTop = ev.currentTarget.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
                            let eRelaCaption = eCrdTop.querySelector(".js-patterns__caption");
                            let sCaroSrc = eCrdTop.querySelector("[data-caro-src]").dataset.caroSrc;
                            let aCrdDetail = _d.querySelectorAll("[data-caro-target='"+ sCaroSrc +"']");

                            if(aCrdDetail.length){
                                switch( aCrdDetail[0].tagName ){
                                    case "IMG":
                                        aCrdDetail.forEach( (eCrd) =>{ 
                                            eCrd.src = ev.currentTarget.src;
                                            eCrd.dataset.zoom = ev.currentTarget.dataset.zoom;
                                        });
                                    break;
                                    case "SOURCE": // video
                                        aCrdDetail[0].parentElement.src = ev.currentTarget.src.replace(".jpg", ".mp4");
                                    break;
                                    case "OUTPUT": // source code
                                        let eEv = ev.currentTarget;
                                        //  ev.target.dataset.neodigmWired4sound = "14";
                                        aCrdDetail[0].innerHTML = eEv.querySelector("OUTPUT").outerHTML.replace("h-ds__none","");
                                        eRelaCaption.dataset.at = eEv.querySelector("[data-at]").dataset.at;
                                        eRelaCaption.textContent = eEv.querySelector("[data-at]").dataset.at.split("|")[0];
                                        [...eCrdTop.querySelectorAll(".h--select")].forEach( (eCrdSel) => {
                                            eCrdSel.classList.remove("h--select");
                                        });
                                        eEv.classList.add("h--select");
                                    break;
                                }
                            }
                        });
                    });
                    let eAutoTap = _d.querySelector("[data-caro-auto-click='true']");
                    if( eAutoTap ){
                        eAutoTap.dataset.caroAutoClick = "false";
                        eAutoTap = eAutoTap.querySelectorAll(".caro-target__js");
                        if( eAutoTap ) {
                            setTimeout(function(){
                                eAutoTap[ neodigmUtils.f1210() ].click();
                            }, (++nCnt * 920) );
                        }
                    }
                }, (++nCnt * 856) );
            }        
        });
    }
    doCertCarousel();
    
    let doZm = (( _d=document, qry=[".l-HeroZoom", ".js-img_HeroZoom", ".js-img_HeroZoom_bg"]) => {
        let oHro = {"isInit": false, "x": 0, "y": 0, "w": 0, "h": 0, "zMult": 2, "zRatio": 2,"setMtrx": [1.38, 3.2, 1.38, 3.2]};
        let eEv = _d.querySelector( qry[0] );
        oHro.e = _d.querySelector( qry[1] ); oHro.eBg = _d.querySelector( qry[2] );
        return {
            "init": ()=>{
                if( eEv && !neodigmUtils.isMobile() ){
                    eEv.addEventListener("mouseenter", doZm.doHeroMouseEnter);
                    eEv.addEventListener("mousemove", doZm.doHeroMouseMove);
                    eEv.addEventListener("mouseout", doZm.oHeroMouseOut);
                }
            },
            "doHeroMouseEnter": ( ev )=>{
//if( oHro.eBg.dataset.zoom == "true"  ) {console.log("paral"); oHro.setMtrx = [2.2,  3.2,  .88, 3.2];} // a55 paral bg dim
//if( oHro.eBg.dataset.zoom == "square"  ) {console.log("square"); oHro.setMtrx = [1.38, 3.2, 1.38, 3.2];} // square 1k                
                if( oHro.e && oHro.eBg && oHro.eBg.dataset.zoom != "false" ){
                    if( !oHro.isInit ){ // Run once per engagement
                        oHro.h = oHro.e.offsetHeight * oHro.zMult;
                        oHro.w = oHro.e.offsetWidth * oHro.zMult;
                        oHro.e.alt = "Magnifying";
                        oHro.isInit = true;
                    }
                    oHro.eBg.style.opacity = "0";
                    oHro.e.style.display = "block";
                }

            },
            "doHeroMouseMove": ( ev )=>{
                if( oHro.e && oHro.eBg && oHro.eBg.dataset.zoom != "false" ){
                    oHro.x = (oHro.w - (oHro.e.offsetHeight * oHro.setMtrx[0] ))  -  (ev.offsetX * (oHro.zMult * (oHro.zMult/oHro.setMtrx[1])));
                    oHro.y = (oHro.h - (oHro.e.offsetWidth  * oHro.setMtrx[2] ))  -  (ev.offsetY * (oHro.zMult * (oHro.zMult/oHro.setMtrx[3])));
                    oHro.e.style.transform = "translate(" + oHro.x + "px, " + oHro.y + "px) scale("+oHro.zRatio+")";
                }
            },
            "oHeroMouseOut": ( ev )=>{
                if( oHro.e && oHro.eBg && oHro.eBg.dataset.zoom != "false" ){
                    oHro.eBg.style.opacity = "1";
                    oHro.e.style.display = "none";
                }
            }
        };
    })();
    doZm.init();

    let doVividType = ( (_d, _q, _t) => {  //  Type on Vivid Vector Skull
        let aVivImg
        let bDoIt
        return {
            "tick": ()=>{
                aVivImg = [..._d.querySelectorAll( _q )];
                if( aVivImg ){
                    bDoIt = true
                    aVivImg.every( (eVivImg) => {
                        if( !eVivImg.classList.contains("img__show")) {
                            eVivImg.classList.add("img__show")
                            bDoIt = true
                            return false;
                        }
                        bDoIt = false
                        return true;
                    } );
                }
                if( bDoIt ) setTimeout( ()=>{ doVividType.tick(); }, _t);
            }
        }
    })(document, "[data-at-vivid] img", 104 );

    let doVividCaption = ( (_d, _q, _t) => {  //  Inject Vivid Vector Skull 
        const VIVPATH = "https://neodigm.github.io/vivid_vector_alphabet/wasm/vv";
        let aVivCnt = [..._d.querySelectorAll( _q )];
        if( aVivCnt ){ setTimeout( ()=>{ doVividCaption.tick(); }, 32); }
        return {
            "tick": ()=>{
                let sMU = "";
                aVivCnt.forEach( (eVivCnt) => {
                    if(eVivCnt.atVivid !== eVivCnt.dataset.atVivid){ // Data atr changed
                        Array.from( eVivCnt.dataset.atVivid ).filter(( sChr )=>{
                            sChr = sChr.toLowerCase()
                            if("abcdefghijklmnopqrstuvwxyz0123456789.,".indexOf( sChr ) === -1) sChr = "space"
                            if( sChr == "." ) sChr = "period";
                            if( sChr == "," ) sChr = "comma";
                            sMU += "<img src='" + VIVPATH + sChr + ".svg'>";
                        });
                        eVivCnt.innerHTML = sMU;
                        eVivCnt.atVivid = eVivCnt.dataset.atVivid;
                        doVividType.tick()
                    }
                } );
                setTimeout( ()=>{ doVividCaption.tick(); }, _t);
            }
        };
    })(document, "[data-at-vivid]", 1096 );

    setTimeout(()=>{
        let wired4SoundPrep = (( _d )=>{ // Flick Nav Arrows and Mega SVGs

            return {
                "add2Dataset": ( _q, _s )=>{
                    let aDeepSVGs = _d.querySelectorAll( _q );
                        if( aDeepSVGs.length > 0){
                            aDeepSVGs.forEach( (eSVG )=>{
                            eSVG.dataset.n55Wired4sound = "" + _s;
                        });
                    }
                }
            };
        })( document);
        wired4SoundPrep.add2Dataset(".flickity-button, .flickity-button-icon, .flickity-button-icon path", 3); 
        wired4SoundPrep.add2Dataset(".mm__vect, .mm__vect path", 7); 
        wired4SoundPrep.add2Dataset(".scheme__vect, .scheme__vect path", 8); 
    },14000);

    var doPrefersReducedMotion = function( bMotion ){// Stop 3D rotation
        o3Config.controls.autoRotate = !bMotion; 
    }
    var doPrefersColorScheme = function( bScheme, bToast ){ // UI | OS Semaphore
        document.body.dataset.prefScheme = ((bScheme) ? "dark" : "light");
        if( bToast ) neodigmToast.q("Switching to|" + document.body.dataset.prefScheme + " color scheme");
    }

    // Capture the prefers media queries
    const mqPrefReducedMotion = window.matchMedia("(prefers-reduced-motion: reduce)");
    const mqPrefColorScheme = window.matchMedia("(prefers-color-scheme: dark)");

    doPrefersReducedMotion( (mqPrefReducedMotion && mqPrefReducedMotion.matches) );
    //  doPrefersColorScheme( (mqPrefColorScheme && mqPrefColorScheme.matches), false );
    doPrefersColorScheme( false, false );

    // listen to changes in the media query's value NOT USED
    mqPrefReducedMotion.addEventListener("change", () => {
        doPrefersReducedMotion( mqPrefReducedMotion.matches );
    });
    mqPrefColorScheme.addEventListener("change", () => {
        doPrefersColorScheme( mqPrefColorScheme.matches, true );
    });

</script>

<!--  SFDC form validation and sub begin  -->
<script>  // W2L

    function fw2l(_oFlds) {  //  Web 2 Lead
        let _d = document;
        var eIF_id="if-w2l-id";
        if(!_d.getElementById(eIF_id)){
            var _eIF=_d.createElement("iframe");
            _eIF.id=eIF_id;
            _eIF.name=eIF_id;
            _eIF.src="about:blank";
            _eIF.style.display="none";
            _d.body.appendChild(_eIF);
        }
        _oFlds["retURL"]="http://127.0.0.1";  //  Dummy URL
        var form = _d.createElement("form");
        form.method = "POST"; form.action = "https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8";
        form.setAttribute("target", eIF_id);
        for (var fieldName in _oFlds) {
            var theInput = oD.createElement("input"); 
            theInput.name=fieldName;
            theInput.value=_oFlds[fieldName];
            theInput.setAttribute("type", "hidden");
            form.appendChild(theInput);  
        }
        oD.body.appendChild(form);
        form.submit();
        if( rdt ) rdt('track', 'Lead', { "transactionId": Date.now() });
    }

    function DoForm( sElm, sOther, sToken ){
        var oW2L = {oid:"00D6A000002intt", retURL: "https://www.MachFiveMarketing.com/?thanks"};
        var _sN = new Date();
        _sN = String( _sN.getTime() ) + "_";
        oW2L.email = _sN + sElm;  //  Make elm unique
        oW2L.description = sElm + " | " + sToken + " | " + sOther;
        fw2l( oW2L );
        return true;
    }

</script>

<script>  //  Custom Formz Validation
    function valForm( sToken, eForm ){
        let isVal = true;
        let valMsg = null;
        let package = [];
        if( sToken && eForm ){
            eForm = eForm.parentElement.parentElement;
            switch( sToken ){
                case "tsk_contact_us":
                    contextMsg = "We will respond to your|message shortly";
                    if( (eForm.email.value.indexOf("@") === -1) || (eForm.email.value.indexOf(".") === -1) ){
                        isVal = false; valMsg = "Email Address is|Invalid";
                    }
                    if( !eForm.message.value ){
                        isVal = false; valMsg = "Message is|Required";
                    }
                    if( !eForm.email.value ){
                        isVal = false; valMsg = "Email Address is|Required";
                    }
                    package = [eForm.email.value, eForm.message.value];
                    break;
                default:
                    console.warn( sToken, " does not exist.");
            }
            if( isVal ) {
                if( DoForm( package[0], package[1], sToken ) ){
                    if( neodigmToast ){ neodigmToast.q("Information Received|Thank you"); }
                    if( neodigmToast ){ neodigmToast.q( contextMsg ); }
                }else{
                    if( neodigmToast ){ neodigmToast.q("Service is unavailable|Please try again later"); }
                }
                neodigmSodaPop.close();
            }else{
                neodigmSodaPop.shake();
                if( neodigmToast ){ neodigmToast.q( valMsg, "danger" ); }
            }
        }
    }
</script>
<!--  SFDC form validation and sub end  -->

<script>
    const cbTag = "\n<!-- (c) 2022 🗝️ www.theScottKrause.com -->"
    function doCopyClass( _q ){ // Copy PRE - Cannot prebind to element within detail
        let aTxt =[ ... document.querySelectorAll( _q )]
        let sTxt = ""
        aTxt.forEach( function( sText ){
            sTxt += sText?.innerText;
            sTxt += "\n"
        })            
        if( sTxt ) sTxt += cbTag
        try {
            navigator.clipboard.writeText( sTxt );
            neodigmToast.q("Copied to Clipboard|Paste into your document", "night")
            //NeodigmClaire.showCanv('.l-snackbar').initCanvOff('.l-snackbar').doConfetti('.l-snackbar')
        } catch (err) {
            console.warn('Failed to copy', err)
        }
    }
    function doCopyString( sTxt, sTheme="night" ){
        if( sTxt ) {
            sTxt += cbTag
            sTxt = sTxt.replaceAll("__","'")
            try {
                navigator.clipboard.writeText( sTxt );
                neodigmToast.q( sTxt+"|Copied to Clipboard", sTheme )
            } catch (err) {
                console.warn('Failed to copy', err)
            }
        }
    }
</script>

<script>
    function clickRandom( _q ){  //  Click a random link
        let nEl = document.querySelectorAll( _q )
        if( nEl ){
            nEl[ Math.floor(Math.random() * nEl.length ) ].click()
        }
    }
</script>

<script>
class NeodigmPWA {  //  TODO Integrate into N55 plugin
    constructor(){
    }
    init () {
        window.addEventListener('appinstalled', () => {
            setTimeout(function(){
                neodigmToast.q("##Application Installed|Neodigm UX ✨ Scott C. Krause")
                neodigmWired4Sound.play( 8 )
                if( dataLayer ) dataLayer.push({'event': 'appinstalled'})
            }, 1200)
          });
    }
}
let neodigmPWA = new NeodigmPWA()
neodigmPWA.init()

window.addEventListener('DOMContentLoaded', (ev) => {
    setTimeout(function(){
        if( neodigmSodaPop && neodigmMarquee && neodigmEnchantedCTA ){
            neodigmSodaPop.setOnAfterOpen( function(){
NeodigmClaire.showCanv('neodigm-sodapop', .6).setTheme( ['brand','danger','info','marcom'] ).initCanvOn('neodigm-sodapop').waxOn('neodigm-sodapop')
                neodigmMetronome.init().pause( 2200 )
                    neodigmMarquee.init().pause( 2400 )
                        neodigmEnchantedCTA.init()
            });
            neodigmSodaPop.setOnBeforeUserExit( function(){
                neodigmToast.q("Thanks for Vistiting|Bookmark, Star, and Install as PWA!", "marcom")
                NeodigmClaire.showCanv('picture.hero-single').setTheme( ['brand','danger','warning','marcom'] ).initCanvOn('picture.hero-single').waxOn('picture.hero-single')
            } )
            NeodigmClaire.showCanv('picture.hero-single', .56).setTheme( ['brand','danger','warning','marcom'] ).initCanvOn('picture.hero-single').waxOn('picture.hero-single')
        }
    }, 3e3)
    setTimeout(function(){
        if( neodigmSodaPop && NeodigmClaire ){
            neodigmSodaPop.setOnClose( function(){
NeodigmClaire.showCanv('neodigm-sodapop').initCanvOff('neodigm-sodapop').waxOff('neodigm-sodapop')
            });
            document.querySelector("picture.hero-single").addEventListener("click", function(ev){
                NeodigmClaire.showCanv('picture.hero-single', .56).setTheme( ['brand','danger','warning','marcom','info'] ).initCanvOn('picture.hero-single').waxOn('picture.hero-single')
            })
        }
    }, 4e3)
});
</script>

<script>
;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
olark.identify('7233-815-10-7742');
</script>

<!-- Reddit Pixel -->
<script>
    !function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_1zh9wtjp', {"optOut":false,"useDecimalCurrencyValues":true,"aaid":"<AAID-HERE>","email":"<EMAIL-HERE>","externalId":"<EXTERNAL-ID-HERE>","idfa":"<IDFA-HERE>"});rdt('track', 'PageVisit');
</script>
    <!-- DO NOT MODIFY UNLESS TO REPLACE A USER IDENTIFIER -->
    <!-- End Reddit Pixel -->
    