
<link rel="stylesheet"
href="/css/rainbow.css">
<script src="/js/highlight.pack.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>

<script>
let aTiny = {"a":"ᵃ","b":"ᵇ","c":"ᶜ","d":"ᵈ","e":"ᵉ","f":"ᶠ","g":"ᵍ","h":"ʰ","i":"ᶦ","j":"ʲ","k":"ᵏ","l":"ᶫ","m":"ᵐ","n":"ᶰ","o":"ᵒ","p":"ᵖ","q":"ᑫ","r":"ʳ","s":"ˢ","t":"ᵗ","u":"ᵘ","v":"ᵛ","w":"ʷ","x":"ˣ","y":"ʸ","z":"ᶻ","A":"ᴬ","B":"ᴮ","C":"ᶜ","D":"ᴰ","E":"ᴱ","F":"ᶠ","G":"ᴳ","H":"ᴴ","I":"ᴵ","J":"ᴶ","K":"ᴷ","L":"ᴸ","M":"ᴹ","N":"ᴺ","O":"ᴼ","P":"ᴾ","Q":"ᑫ","R":"ᴿ","S":"ˢ","T":"ᵀ","U":"ᵁ","V":"ⱽ","W":"ᵂ","X":"ˣ","Y":"ʸ","Z":"ᶻ","`":"`","~":"~","!":"﹗","@":"@","#":"#","$":"﹩","%":"﹪","^":"^","&":"﹠","*":"﹡","(":"⁽",")":"⁾","_":"⁻","-":"⁻","=":"⁼","+":"+","{":"{","[":"[","}":"}","]":"]",":":"﹕",";":"﹔","?":"﹖"};
console.log( aTiny.a );
let doTinyCaption = ( (_d, _q, _t) => {  //  Inject Tiny type
        let aTinyCnt = [..._d.querySelectorAll( _q )];
        if( aTinyCnt ){ setTimeout( ()=>{ doTinyCaption.tick(); }, 32); }
        return {
            "tick": ()=>{
                let sMU = "";
                aTinyCnt.forEach( (eVivCnt) => {
                    if(eVivCnt.atTiny !== eVivCnt.dataset.atTiny){ // Data atr changed
                        Array.from( eVivCnt.dataset.atTiny ).filter(( sChr )=>{
                            sMU += ( sChr == " ") ? " "  : aTiny[ sChr ];
                        });
                        eVivCnt.innerHTML = sMU;
                        eVivCnt.atTiny = eVivCnt.dataset.atTiny;
                    }
                } );
                setTimeout( ()=>{ doTinyCaption.tick(); }, _t);
            }
        };
    })(document, "[data-at-tiny]", 13664 );
</script>

<script type="module" src ="/js/a55_3d.js"></script>
<script>
var o3 = null;
var o3Config = (function(){
  var camera, scene, renderer, controls;
  return {
    "autoSpin": function(){
      controls.update();
      requestAnimationFrame( o3Config.autoSpin );
      renderer.render( scene, camera );
    },
    "spin": function(){
      renderer.render( scene, camera );
    },
    "init": function( e3ds ){
            var sPath = e3ds.dataset.thr3Load, sW = e3ds.dataset.thr3W, sH = e3ds.dataset.thr3H;
              scene = new o3.Scene();/* Scene */

              var pointLightOrange = new o3.PointLight( 0xC9F4ED, 2, 800 );
              pointLightOrange.position.set( -4000, -400, -66 ).normalize();
              scene.add( pointLightOrange );

              camera = new o3.PerspectiveCamera( 4, 1, 1, 1000 );/* Camera */
              camera.position.x = 56; camera.position.y = 56; camera.position.z = 56;
              scene.add( camera );
              camera.add( pointLightOrange ); // Point light with camera

              renderer = new o3.WebGLRenderer( { antialias: true, alpha: true } );/* Renderer */
              renderer.setPixelRatio( window.devicePixelRatio );
              renderer.setSize( sW, sH );
              e3ds.appendChild( renderer.domElement );

              var loader = new o3loadr();/* Loader */
              loader.load( sPath , function ( gltf ) {
                scene.add( gltf.scene );
                o3Config.spin();
              } );

              controls = new o3orbit( camera, renderer.domElement );/* Controls */
              controls.autoRotate = true; controls.autoRotateSpeed = 9.4;
              controls.addEventListener( 'change', o3Config.spin );
              controls.update();
              setTimeout( o3Config.autoSpin, 256);

              window.addEventListener( 'resize', onWindowResize, false );
              function onWindowResize() {
                camera.aspect = 1;
                camera.updateProjectionMatrix();
                renderer.setSize( sW, sH );
                o3Config.spin();
              }
            }
  }
})();
var e3 = document.querySelector("[data-thr3-load]");
if( e3 ) { // Delay 3d call if still null
  setTimeout(function(){
    o3Config.init( e3 );
    }, (o3===null) ? 3800 : 800 )
}
</script>
<script>
    var _d = document;
    _d.addEventListener( "contextmenu", function(e) { console.log("playAudioFile( 7 )"); });  //  On right-click
    console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");
    function f1210(){ return (Math.floor(Math.random() * (10) + 1)); }
    
    function data2prop( sDset ){  //  Convert HTML data attrib name to JS dataset name
    sDset = sDset.replace("data-", "").toLowerCase();
    let aDset = sDset.split(""), aDret = [], bUpper = false;
    aDset.forEach( (sVal, nIx) => {
        if( sVal == "-" ){
            bUpper = true;
        }else{
            aDret.push( ( bUpper ) ? sVal.toUpperCase() : sVal );
            bUpper = false;
        }
    });
    return aDret.join("");
    }

    setInterval(function(){
        [].slice.call( _d.querySelectorAll( "[data-at]" ) ).filter( function( e3 ){
            if( f1210() >= 4 ){  //  rnd pipe delim array in data attr
                var sAlt = e3.dataset.at;
                if( sAlt ){
                    var aAlt = sAlt.split("|");
                    if( aAlt.length > 1 ){
                        aAlt = aAlt[ (Math.floor(Math.random() * (aAlt.length))) ];
                        if( e3.dataset.atChange ){
                            if( e3.dataset.atChange == "class"){
                                e3.classList.remove(...e3.classList);
                                e3.classList.add( aAlt );
                            }else{
                                if( e3.dataset.atChange.indexOf("data-") != -1){
                                    e3.dataset[ data2prop(e3.dataset.atChange) ] = aAlt;
                                }else{
                                    e3[ e3.dataset.atChange ] = aAlt;
                                }
                            }
                        }else{
                            e3.innerHTML = aAlt;
                        }
                    }
                }
            }
        });        
    }, 4256);
    
    let fCycle = ( (_d, _q, _t) => {  //  Cycle content display logic
        let aCycCnt = [..._d.querySelectorAll( _q )];
        if( aCycCnt ){
            aCycCnt.forEach( (eCycCnt) => {
                eCycCnt.nCycCnt=0;
                eCycCnt.addEventListener("click", (ev)=>{ fCycle.tick( false ); });
            } );
            setTimeout( ()=>{ fCycle.tick(); }, 4);
        }
        return {
            "pretick": ()=> {  // Blur
                var eCycLive = _d.querySelector( "[data-at-cycle-live='true']" );
                eCycLive.classList.add( "h-fade" );
                eCycLive.dataset.atCycleLive = "false";
            },
            "tick": ( bTimeout=true )=>{
                aCycCnt.map( (e)=>{
                    [...e.children].forEach( (eChild, nIndx) => {
                    eChild.classList.remove("h-ds__inline", "h-ds__none");
                    eChild.classList.remove( "h-fade" );
                    if( nIndx === e.nCycCnt ){
                        eChild.classList.add( "h-ds__inline" );
                        eChild.dataset.atCycleLive = "true";
                    }else{
                        eChild.classList.add( "h-ds__none" );
                    }
                    });
                    e.nCycCnt = (e.nCycCnt === (e.children.length - 1)) ? 0 : (e.nCycCnt + 1);
                });
                if( bTimeout && (aCycCnt.length > 0) ){
                    setTimeout( ()=>{ fCycle.pretick(); }, (_t - 880));
                    setTimeout( ()=>{ fCycle.tick(); }, _t);
                }
            }
        }
    })(document, "[data-at-cycle]", 12096 );
    
    let doCertCarousel = ( _d=document, qry=[".js-art__caro",".l-caro-design__cnt"]) => {
        let elSecCert = [].slice.call(_d.querySelectorAll( qry[0] )), nCnt=0;
        elSecCert.forEach(eCert => { // Lazy Load Carousels and wire DOM events
            let elFlickCert = eCert.querySelector( qry[1] );
            if( eCert && elFlickCert && Flickity ){
                setTimeout(function(){
                    eCert.classList.remove("h-ds__none");
                    var flktyCert = new Flickity( elFlickCert, {
                    "cellAlign": "left", "contain": true, "autoPlay": true, "groupCells": true,
                    pageDots: false
                    });
                    var aTrg = [].slice.call(_d.querySelectorAll(".flickity-slider .caro-target__js"));
                    aTrg.forEach(eTrg => {
                        eTrg.addEventListener("click", (ev) => {
                            let eCrdTop = ev.currentTarget.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
    console.log("________ | " );
    console.log( eCrdTop );
                            let eRelaCaption = eCrdTop.querySelector(".js-patterns__caption");
    console.log("________ | " + eRelaCaption );
                            let sCaroSrc = eCrdTop.querySelector("[data-caro-src]").dataset.caroSrc;
console.log("********* | " + sCaroSrc );

                            let eCrdDetail = _d.querySelector("[data-caro-target='"+ sCaroSrc +"']");
    console.log("======== | " + eCrdDetail );
                            if(eCrdDetail){
    console.log("-------- | " + eCrdDetail.tagName );
                                switch( eCrdDetail.tagName ){
                                    case "IMG":
                                        eCrdDetail.src = ev.currentTarget.src;
                                    break;
                                    case "SOURCE":
                                        eCrdDetail.parentElement.src = ev.currentTarget.src.replace(".jpg", ".mp4");
                                    break;
                                    case "OUTPUT":
                                        let eEv = ev.currentTarget;
                                        eCrdDetail.innerHTML = eEv.querySelector("OUTPUT").outerHTML.replace("h-ds__none","");
                                        eCrdDetail.classList.remove("h-ds__none");
console.log( ev.currentTarget.querySelector("OUTPUT") );
                                        eRelaCaption.dataset.at = eEv.querySelector("[data-at]").dataset.at;
                                    break;
                                }
                            }
                        });
                    })
                }, (++nCnt * 1460) );
            }        
        });
    }
    doCertCarousel();

    let doVividCaption = ( (_d, _q, _t) => {  //  Inject Vivid Vector Skull
        const VIVPATH = "https://neodigm.github.io/vivid_vector_alphabet/wasm/vv";
        let aVivCnt = [..._d.querySelectorAll( _q )];
        if( aVivCnt ){ setTimeout( ()=>{ doVividCaption.tick(); }, 32); }
        return {
            "tick": ()=>{
                let sMU = "";
                aVivCnt.forEach( (eVivCnt) => {
                    if(eVivCnt.atVivid !== eVivCnt.dataset.atVivid){ // Data atr changed
                        Array.from( eVivCnt.dataset.atVivid ).filter(( sChr )=>{
                            if( sChr == " ") sChr = "space";
                            sMU += "<img src='" + VIVPATH + sChr.toLowerCase() + ".svg'>";
                        });
                        eVivCnt.innerHTML = sMU;
                        eVivCnt.atVivid = eVivCnt.dataset.atVivid;
                    }
                } );
                setTimeout( ()=>{ doVividCaption.tick(); }, _t);
            }
        };
    })(document, "[data-at-vivid]", 12664 );


</script>