<script>
    var _d = document;
    _d.addEventListener( "contextmenu", function(e) { console.log("playAudioFile( 7 )"); });  //  On right-click
    console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");
    function f1210(){ return (Math.floor(Math.random() * (10) + 1)); }
    
    setInterval(function(){
        [].slice.call( _d.querySelectorAll( "[data-at]" ) ).filter( function( e3 ){
            if( f1210() >= 4 ){  //  rnd pipe delim array in data attr
                var sAlt = e3.dataset.at;
                if( sAlt ){
                    var aAlt = sAlt.split("|");
                    if( aAlt.length > 1 ){
                        aAlt = aAlt[ (Math.floor(Math.random() * (aAlt.length))) ];
                        if( e3.dataset.atChange ){
                            if( e3.dataset.atChange == "class"){
                                e3.classList.remove(...e3.classList);
                                e3.classList.add( aAlt );
                            }else{
                                e3[ e3.dataset.atChange ] = aAlt;
                            }
                        }else{
                            e3.innerHTML = aAlt;
                        }
                    }
                }
            }
        });        
    }, 4856);
    
    let fCycle = ( (_d, _q, _t) => {  //  Cycle content display
        let aCycCnt = [..._d.querySelectorAll( _q )];
        if( aCycCnt ){
            aCycCnt.forEach( (eCycCnt) => {
                eCycCnt.nCycCnt=0;
                eCycCnt.addEventListener("click", (ev)=>{ fCycle.tick( false ); });
            } );
            setTimeout( ()=>{ fCycle.tick(); }, 4);
        }
        return {
            "pretick": ()=> {  // Blur
                var eCycLive = _d.querySelector( "[data-at-cycle-live='true']" );
                eCycLive.classList.add( "h-fade" );
                eCycLive.dataset.atCycleLive = "false";
            },
            "tick": ( bTimeout=true )=>{
                aCycCnt.map( (e)=>{
                    [...e.children].forEach( (eChild, nIndx) => {
                    eChild.classList.remove("h-ds__inline", "h-ds__none");
                    eChild.classList.remove( "h-fade" );
                    if( nIndx === e.nCycCnt ){
                        eChild.classList.add( "h-ds__inline" );
                        eChild.dataset.atCycleLive = "true";
                    }else{
                        eChild.classList.add( "h-ds__none" );
                    }
                    });
                    e.nCycCnt = (e.nCycCnt === (e.children.length - 1)) ? 0 : (e.nCycCnt + 1);
                });
                if( bTimeout && (aCycCnt.length > 0) ){
                    setTimeout( ()=>{ fCycle.pretick(); }, (_t - 880));
                    setTimeout( ()=>{ fCycle.tick(); }, _t);
                }
            }
        }
    })(document, "[data-at-cycle]", 12496 );
    
    let doCertCarousel = ( _d=document, qry=[".js-art__caro",".l-caro-design__cnt"]) => {
        let elSecCert = [].slice.call(_d.querySelectorAll( qry[0] )), nCnt=0;
        elSecCert.forEach(eCert => { // Lazy Load Carousels and wire events
            let elFlickCert = eCert.querySelector( qry[1] );
            if( eCert && elFlickCert && Flickity ){
                setTimeout(function(){
                    eCert.classList.remove("h-ds__none");
                    var flktyCert = new Flickity( elFlickCert, {
                    "cellAlign": "left", "contain": true, "autoPlay": true, "groupCells": true,
                    pageDots: false
                    });
                    var aImg = [].slice.call(_d.querySelectorAll(".flickity-slider img"));
                    aImg.forEach(eImg => {
                        eImg.addEventListener("click", (ev) => {
                            var sPar = ev.currentTarget.parentElement;
                            sPar = sPar.parentElement.parentElement.dataset.caroSrc;
                            sPar = _d.querySelector("[data-caro-target='"+ sPar +"']");
                            if(sPar){
                                if( sPar.type === "video/mp4" ){
                                    sPar.parentElement.src = ev.currentTarget.src.replace(".jpg", ".mp4");
                                }else{
                                    sPar.src = ev.currentTarget.src;
                                }
                            }
                        });
                    })
                }, (++nCnt * 1460) );
            }        
        });
    }
    doCertCarousel();
    </script>