<!DOCTYPE html>
<html lang="en">
    <head>
        
<title>UX ⚡ Scott Krause | Vue.js TypeScript WASM GoLang</title>
<!--
  _________             __    __     ____  __.                                  
 /   _____/ ____  _____/  |__/  |_  |    |/ _|___________   __ __  ______ ____  
 \_____  \_/ ___\/  _ \   __\   __\ |      < \_  __ \__  \ |  |  \/  ___// __ \ 
 /        \  \__(  <_> )  |  |  |   |    |  \ |  | \// __ \|  |  /\___ \\  ___/ 
/_______  /\___  >____/|__|  |__|   |____|__ \|__|  (____  /____//____  >\___  >
        \/     \/                           \/           \/           \/     \/ 

        Dashboards, Infographics, and Data Visualization
        Gamefication and Microinteractions
        Concept Art, Illustration, and 3D animation
        MarTech, AdTech & Personalization
        Visual & Product Designer | Specializing in UI/UX & Interaction Design
        Serial entrepreneur and trouble-maker who thrives at the intersection of business and technology
        Design strategist & team leader. Superb UX, typography, data, and knowledge design acumen. Educator, speaker, mentor.
        d3.js enthusiast

        I'm a product and brand design leader with extensive experience helping startups grow through purpose-driven design. I'm highly collaborative and believe the best design work results from input and discussions with developers, product managers, customers, and other stakeholders.

“I cannot possibly recommend anyone better than Scott for designing beautiful, functional & clean artifacts. He was able to capture the essence of our organization and consistently hit the nail on the head as he helped update our brand and marketing materials. I hold his level of quality and speed as my standard for design and creative work.” - Name 

It's based on a novel by a man named Lear, I need a break and I want to be a paperback writer
-->
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>
<meta name="description" content="Interactive Resume | TypeScript, Vanilla ES2015 ES6, React.js, a11y, WebAssembly, Jest, Three.js, D3.js, JQuery, and Meteor.js on Node.js.  I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@neodigm24" />
<meta name="twitter:title" content="Scott C. Krause JavaScript Engineer and UX Designer | eCommerce, SaaS and Gamification" />
<meta name="twitter:description" content="Privacy Paranoid | Keypad Encrypted USB | Waterproof Capsule Solution" />
<meta name="twitter:description" content="Node.js Meteor.js JavaScript TypeScript Vue.js React.js Redux Angular Three.js" />
<meta name="twitter:image" content="http://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg" />

<meta property="og:title" content="Scott C. Krause Front-end Engineer | Node.js TypeScript WASM GoLang Vue.js">
<meta property="og:site_name" content="Scott C. Krause UX Developer">
<meta property="og:url" content="http://thescottkrause.com/">
<meta property="og:description" content="I craft high-fidelity prototypes and then build responsive, accessible, and aesthetically delightful interfaces. I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">
<meta property="og:type" content="website">
<meta property="og:image" content="http://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg">

<link rel="preconnect" href="http://neodigm.github.io/" crossorigin>
<link rel="dns-prefetch" href="http://neodigm.github.io/" >
<link rel="dns-prefetch" href="http://fonts.googleapis.com/" >
<link rel="dns-prefetch" href="http://unpkg.com/" >

<link rel="stylesheet" href="/css/neodigm.css">

<link rel="stylesheet" href="http://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="http://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.css">
<script src="http://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script defer src="http://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.js"></script>
    </head>
    <body>
        {{ partial "megamenu.html" . }}
        <main role="main">
HOMEPAGE YO {{ .Title }}
<hr>
<ul>
    {{ range .Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        </li>
    {{ end }}
    </ul>
<hr>
{{ range first 10 .Site.RegularPages }}
{{ .Render "summary"}}
{{ end }}

<section id="js-para-grid" class="para-grid">
    {{ range .Site.Pages }}
        <article class="para-card n50bg">{{.Title}} {{.Date.Format "2006-01-02"}} {{ .Kind }}</article>
        <article class="para-card n50bg">{{.Title}} {{.Date.Format "2006-01-02"}} {{ .Kind }}</article>
        <article class="para-card n50bg">{{.Title}} {{.Date.Format "2006-01-02"}} {{ .Kind }}</article>
    {{ end }}
</section>


        </main>

<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab:300,400" rel="stylesheet" type="text/css">

<script>
    document.addEventListener( "contextmenu", function(e) { console.log("playAudioFile( 7 )"); });  //  On right-click
    console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");
</script>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Lake County",
        "addressRegion": "IL",
        "postalCode": "60031"
      },
      "email": "neo5ive@gmail.com",
      "image": "http://www.thescottkrause.com/ux/typescript/engineer/wasm/self.png",
      "jobTitle": "Sr. UX Front-end Engineer",
      "name": "Scott Krause",
      "url": "http://www.theScottKrause.com",
	    "sameAs" : [ "http://github.com/neodigm",
	    "http://www.linkedin.com/in/neodigm24/",
	    "http://trailblazer.me/id/skrause",
	    "http://codepen.io/neodigm24",
	    "http://machvive.com/",
	    "http://www.arcanus55.com/",
      "http://repl.it/@neodigm",
      "http://twitter.com/neodigm24"]
    }
</script>

    </body>
</html>
