<!DOCTYPE html>
<html lang="en">
    <head>
<title>UX ⚡ Scott Krause | JavaScript WASM GoLang</title>
<!--
  _________             __    __     ____  __.                                  
 /   _____/ ____  _____/  |__/  |_  |    |/ _|___________   __ __  ______ ____  
 \_____  \_/ ___\/  _ \   __\   __\ |      < \_  __ \__  \ |  |  \/  ___// __ \ 
 /        \  \__(  <_> )  |  |  |   |    |  \ |  | \// __ \|  |  /\___ \\  ___/ 
/_______  /\___  >____/|__|  |__|   |____|__ \|__|  (____  /____//____  >\___  >
        \/     \/                           \/           \/           \/     \/ 
-->
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=2, minimum-scale=1, width=device-width, height=device-height"/>
<meta name="description" content="Interactive Resume | TypeScript, Vanilla ES2015 ES6, React.js, a11y, WebAssembly, Jest, Three.js, D3.js, JQuery, and Meteor.js on Node.js.  I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">
<link rel="stylesheet" type="text/css" href="./content/css/interactive_resume.css"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@neodigm24" />
<meta name="twitter:title" content="Scott C. Krause JavaScript Engineer and UX Designer | eCommerce, SaaS and Gamification" />
<meta name="twitter:description" content="Privacy Paranoid | Keypad Encrypted USB | Waterproof Capsule Solution" />
<meta name="twitter:description" content="Node.js Meteor.js JavaScript TypeScript Vue.js React.js Redux Angular Three.js" />
<meta name="twitter:image" content="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg" />

<meta property="og:title" content="Scott C. Krause Front-end Engineer | Node.js TypeScript WASM GoLang Vue.js">
<meta property="og:site_name" content="Scott C. Krause UX Developer">
<meta property="og:url" content="http://thescottkrause.com/">
<meta property="og:description" content="I craft high-fidelity prototypes and then build responsive, accessible, and aesthetically delightful interfaces. I produce and advocate for optimized, asynchronous, reactive, functional, testable, and future-proof TypeScript and JavaScript.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://neodigm.github.io/brand_logo_graphic_design/fantastic/discerning/22.jpg">
<style type="text/css">

.viv-cont {
    padding: 0;
    position: fixed;
    right: 0; left: 0; top: 0;
    z-index: 96;
}
.alpha-grd {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(26px, 64px));
    background-color: #790300;
    background-image: linear-gradient(to bottom, #490100 10%, #000 90%);
    padding: 24px;
}
.alpha-grd img { max-width: 64px;  margin: 8px 12px;}
.alpha-grd__hide { display: none; }
.truth-bang {
    cursor: pointer;
    display: block;
    text-align: center;
    height: 96px; width: 96px;
    margin: 0 auto;
}
.truth-bang img {
    height: 96px; width: 96px;
}
@media only screen and (max-width:48em){
.alpha-grd { grid-template-columns: repeat( auto-fill, minmax(16px, 32px)); }
.alpha-grd img { max-width: 32px; }
}
</style>
<link rel="preconnect" href="https://neodigm.github.io/" crossorigin>
<link rel="dns-prefetch" href="https://neodigm.github.io/" >
<link rel="dns-prefetch" href="https://fonts.googleapis.com/" >
<link rel="dns-prefetch" href="https://unpkg.com/" >

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script defer src="https://neodigm.github.io/pan-fried-monkey-fisticuffs/dist/panFriedMonkeyFisticuffs.min.js"></script>
    </head>
    <body>
        <main role="main">

        </main>

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto+Slab:300,400" rel="stylesheet" type="text/css">

<script>
    oD.addEventListener( "contextmenu", function(e) { console.log("playAudioFile( 7 )"); });  //  On right-click
    console.log("%c Scott C. Krause ⚡ Problem Solver and Visual Storyteller", "background: #000; color: #f4dc5e; font-size: 28px");
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Lake County",
        "addressRegion": "IL",
        "postalCode": "60031"
      },
      "email": "neo5ive@gmail.com",
      "image": "http://www.thescottkrause.com/ux/typescript/engineer/wasm/self.png",
      "jobTitle": "Sr. UX Front-end Engineer",
      "name": "Scott Krause",
      "url": "https://www.theScottKrause.com",
	    "sameAs" : [ "https://github.com/neodigm",
	    "https://www.linkedin.com/in/neodigm24/",
	    "https://trailblazer.me/id/skrause",
	    "https://codepen.io/neodigm24",
	    "https://machvive.com/",
	    "https://www.arcanus55.com/",
      "https://repl.it/@neodigm",
      "https://twitter.com/neodigm24"]
    }
</script>

    </body>
</html>
